<div>
    <div class="row">
            <nav id="navbar-app" class="navbar navbar-expand-lg navbar-light container py-4 mb-auto sticky-nav" ngStickyNav stickyClass="sticky-fixed-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" [routerLink]="[ '/' ]">
                            <img src="assets/images/logo-white.svg" alt="antim">
        
                    </a>
            </nav>
        <aside class="left-sidebar col-lg-4">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wraper-right row">
            <app-setting></app-setting>
        </div>
    
    
    
    <div class="page-wraper-right mb-5">
        <div class="mat-card col-lg-11 mt-5 row welcome-card inner p-2 align-items-center">
            <img class="col-lg-2 col-4" src="assets/images/bookWithMen 2.svg">
            <div class="col-lg-3 px-0 col-8">
                <p class="grey-text-color">Notification </p>
            </div>
            <div class="form-group has-search col-lg-4">
                    
                    <input type="text" class="form-control" placeholder="Search by request number">
                    <span class="fa fa-search form-control-feedback"></span>
             </div>
            <form class="col-lg-3">
            <div class="form-group">
                <label for="profileInformation" class="font-size-13">Filter</label>
                <select class="form-control form-control-lg mb-2 custom-select color-inherit">
                        <option value="" selected>Choose year</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                </select>
                <svg class="arrow" fill="none" height="7" viewBox="0 0 14 12" width="10" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-pkd-c13="" d="M1 1.2113L7 10.7606L13 1.2113" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
            </div>
            </form>
        </div>


                    <div class="mat-card col-lg-11 row mt-4">
                        <div>
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#5C20D2" fill-opacity="0.0998143"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 14.7576L25 9L20.3939 19.9394L12.9091 17.6364L11.1818 22.8182L10.6061 17.0606L6 14.7576Z" fill="#C7C7C7"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.2424 10L11 16.9091L11.1958 21.8952L13.303 17.4848L24.2424 10Z" fill="black"/>
                                </g>
                            </svg>                                    
                        </div>
                        <div class="col-lg-8">
                            <h5 class="font-purple font-bold no-letter-spacing m-0">Your request has been approved 1044</h5>
                            <div class="grey-text-color mb-2 mt-1">02-Jan-2019</div>
                        </div>
                            <p class="dark-text-color col-lg-12">Congratulations! Your request has been approved and you are qualified for fund. You are kindly requested to agree on the below Undertaking to Purchase statement to proceed with the request.</p>
                            <p class="dark-text-color col-lg-12">I agree as a requester for the request #(.......), to re-purchase the product(s) purchased by intime platform, based on my request, and with the total amount of (.........) SAR, where the original prodcut(s) price is (.......) SAR, with profit margin (....%) which equal to (......) SAR, and the total amount will be divided to (.......) month, with a total amount of (.......) SAR for the single installment.
                                </p>

                <div class="col-lg-12 mt-3 row d-flex flex-row-reverse">     
                       <div class="form-group col-lg-3">
                           <button class="btn btn-info btn-lg btn-block btn-purple mt-2">Agree and proceed                            </button>
                       </div>
                       <div class="form-group col-lg-2">
                            <button class="btn btn-info btn-lg btn-block btn-black mt-2">cancel </button>
                    </div>
                </div>
                    </div>
                    <div class="mat-card col-lg-11 row mt-1">
                    <div>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#5C20D2" fill-opacity="0.0998143"/>
                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 14.7576L25 9L20.3939 19.9394L12.9091 17.6364L11.1818 22.8182L10.6061 17.0606L6 14.7576Z" fill="#C7C7C7"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.2424 10L11 16.9091L11.1958 21.8952L13.303 17.4848L24.2424 10Z" fill="black"/>
                            </g>
                        </svg>                                    
                    </div>
                    <div class="col-lg-8">
                        <h5 class="font-purple font-bold no-letter-spacing m-0">Your request has been approved 1044</h5>
                        <div class="grey-text-color mb-2 mt-1">02-Jan-2019</div>
                    </div>
                        <p class="dark-text-color col-lg-12">Dear Customer, Congratulations! your request has been approved by the Antime platform, will be follow-up by sending.....
                        </p>
                        <p class="dark-text-color col-lg-12" *ngIf="isCollapsed1">Dear Customer, Congratulations! your request has been approved by the Antime platform, will be follow-up by sending.....
                        </p>
                        <p class="dark-text-color col-lg-12 text-right mb-0 cursor-pointer" (click)="isCollapsed1 = !isCollapsed1">{{isCollapsed1? 'less' : 'more'}}</p>

                    </div>
                    <div class="mat-card col-lg-11 row mt-1 mb-5">
                      <div>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#5C20D2" fill-opacity="0.0998143"/>
                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 14.7576L25 9L20.3939 19.9394L12.9091 17.6364L11.1818 22.8182L10.6061 17.0606L6 14.7576Z" fill="#C7C7C7"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.2424 10L11 16.9091L11.1958 21.8952L13.303 17.4848L24.2424 10Z" fill="black"/>
                            </g>
                        </svg>                                    
                    </div>
                    <div class="col-lg-8">
                        <h5 class="font-purple font-bold no-letter-spacing m-0">Your request has been approved 1044</h5>
                        <div class="grey-text-color mb-2 mt-1">02-Jan-2019</div>
                    </div>
                    <p class="dark-text-color col-lg-12">Dear Customer, Congratulations! your request has been approved by the Antime platform, will be follow-up by sending.....
                    </p>
                    <p class="dark-text-color col-lg-12" *ngIf="isCollapsed2">Dear Customer, Congratulations! your request has been approved by the Antime platform, will be follow-up by sending.....
                    </p>
                    <p class="dark-text-color col-lg-12 text-right mb-0 cursor-pointer" (click)="isCollapsed2 = !isCollapsed2">{{isCollapsed2? 'less' : 'more'}}</p>

                    </div>
    
    

    
        </div>
    </div>