<div>
        <div class="row">
                <nav id="navbar-app" class="navbar navbar-expand-lg navbar-light container py-4 mb-auto sticky-nav" ngStickyNav stickyClass="sticky-fixed-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" [routerLink]="[ '/' ]">
                                <img src="assets/images/logo-white.svg" alt="antim">

                        </a>
                </nav>
            <aside class="left-sidebar col-lg-4">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <app-sidebar></app-sidebar>
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <div class="page-wraper-right row">
              <app-setting></app-setting>
          </div>



        <div class="page-wraper-right " *ngIf="!slectedProduct">

            <div class="mat-card col-lg-11 mt-5 row welcome-card inner p-2 align-items-center">
                <img class="col-lg-2 col-4" src="assets/images/bookWithMen 2.svg">
                <!-- <div class="col-lg-3 px-0 col-8">
                    <p class="grey-text-color" [innerHTML]="requestType"></p>
                </div> -->
                <form class="col-lg-4">
                <div class="form-group">
                    <label for="Type" class="font-size-13">Select Request Type</label>
                    <select class="form-control form-control-lg mb-2§ custom-select" (change)="onChange($event.target.value)">
                            <option value="" selected>My All Requests</option>
                            <option value="Ongoing">Ongoing Requests</option>
                            <option value="Closed">Closed Requests</option>
                            <option value="Reject">Rejected Requests</option>
                            <option value="Awaiting Fund">All Awaiting Fund Requests</option>

                    </select>
                    <svg class="arrow" fill="none" height="7" viewBox="0 0 14 12" width="10" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-pkd-c13="" d="M1 1.2113L7 10.7606L13 1.2113" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
                </div>
                </form>
                <div class="col-lg-1"></div>
                <!-- <form class="col-lg-2">
                        <div class="form-group">
                          <label for="amount" class="font-size-13">Funding amount (SAR)</label>
                          <div class="input-group">
                                <select class="form-control form-control-lg mb-2§ custom-select">
                                        <option value="0 - 2000" selected>0 - 2000</option>
                                        <option value="2000 - 5000">2000 - 5000</option>
                                        <option value="5000 - 10000">5000 - 10000</option>
                                        <svg class="arrow" fill="none" height="7" viewBox="0 0 14 12" width="10" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-pkd-c13="" d="M1 1.2113L7 10.7606L13 1.2113" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>

                                </select>
                            </div>
                        </div>
                      </form> -->
                <form class="col-lg-2">
                        <div class="form-group">
                            <label for="Filter" class="font-size-13">Filter Date</label>
                            <div class="input-group">
                            <input (click)="dp.toggle()" class="form-control date-picker" placeholder="mm-dd-yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker">
                            <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        </form>

            </div>
            <div class="col-lg-11 row justify-content-end mt-5 dashbored-info">
              <div class="justify-content-center col-lg-12">
                      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mb-5" cellpadding="20">

                              <!-- Checkbox Column -->
                              <!-- <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                  </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                  <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)"
                                                [aria-label]="checkboxLabel(row)">
                                  </mat-checkbox>
                                </td>
                              </ng-container> -->

                              <!-- Position Column -->
                              <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                              </ng-container>

                              <!-- Name Column -->
                              <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Date</th>
                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                              </ng-container>

                              <!-- Weight Column -->
                              <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
                                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                              </ng-container>

                              <!-- Symbol Column -->
                              <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef > Request Status </th>
                                <td mat-cell *matCellDef="let element" class="mat-cell {{element.status}}"> {{element.status}} </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr  mat-row *matRowDef="let row; columns: displayedColumns;"
                                  (click)="openProductDetails(row)">
                              </tr>
                            </table>
                            <div *ngIf="showMessage">
                                <h3 class="error">No Data Found</h3>
                              </div>
                              <!-- <div style="margin-top: 20px;">
                                  <mat-paginator #paginator [pageSizeOptions]="[1]" ></mat-paginator>

                              </div> -->
             </div>
             <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
             color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
             <p style="color: white; margin-top:50px;font-size: 26px;" > Loading... </p>
             </ngx-spinner>
          </div>


        </div>


        <div class="page-wraper-right full-width" *ngIf="slectedProduct">

        <div class="justify-content-center col-lg-11 mat-card mt-4 p-0 mb-5">
            <div class="mat-card row p-4 m-0">
                <div class="header col-lg-9">
                  <span class="icon-close" (click)="closeProductDetails()"><i class="material-icons"><svg fill="none" height="14" viewBox="0 0 7 18" width="7" xmlns="http://www.w3.org/2000/svg"><path d="M1 13L7 7L1 1" stroke="#D8D8D8" stroke-linecap="round" stroke-linejoin="round"></path></svg></i></span>
                  <p>Product Details</p>
                </div>

              </div>

            <form class="col-lg-9 row antim-form p-5 mt-2 mb-5 m-auto">
            <div class="col-lg-12"><h3 class="headingh3">product link(s)</h3></div>
            <div class="col-lg-12">
                <label for="Link1" class="font-bold mt-2">Link1</label>
                <input class="form-control form-control-lg" value="https://ar-sa.namshi.com/buy-kocostar-aloe-slice-mask-332427.html" placeholder="Link1"  [attr.disabled]="true">
            </div>
            <div class="col-lg-12">
                <label for="Link2" class="font-bold mt-2">Link2</label>
                <input class="form-control form-control-lg" value="https://ar-sa.namshi.com/buy-kocostar-aloe-slice-mask-332427.html" placeholder="Link2"  [attr.disabled]="true">
            </div>
            <div class="col-lg-12">
                <label for="Link3" class="font-bold mt-2">Link3</label>
                <input class="form-control form-control-lg" value="https://ar-sa.namshi.com/buy-kocostar-aloe-slice-mask-332427.html" placeholder="Link3"  [attr.disabled]="true">
            </div>
            <div class="col-lg-3">
                <label for="RequestDate" class="font-bold mt-2">Request Date</label>
                <input class="form-control form-control-lg" value="22 Desember 2018" placeholder="Request Date"  [attr.disabled]="true">
            </div>
            <div class="col-lg-3">
                <label for="Amount" class="font-bold mt-2">Amount of funding</label>
                <input class="form-control form-control-lg" value="2200 SAR" placeholder="Amount of funding"  [attr.disabled]="true">
            </div>

            <div class="col-lg-3">
                <label for="Installment" class="font-bold mt-2">Installment Period</label>
                <input class="form-control form-control-lg" value="6 Months" placeholder="Installment Period" [attr.disabled]="true">
            </div>
            <div class="col-lg-3">
                <label for="InstallmentAmount" class="font-bold mt-2">Monthly Installment</label>
                <input class="form-control form-control-lg" value="830 SAR" placeholder="Installment amount per month" [attr.disabled]="true">
            </div>
            <div class="col-lg-3">
              <label for="RequestStatus" class="font-bold mt-2">Request Status</label>
              <input class="form-control form-control-lg {{productStatus}}" value="{{productStatus}}" [attr.disabled]="true">
            </div>
            <div class="col-lg-9"></div>
            <div class="col-lg-12" *ngIf="productStatus == 'Ongoing request'">
              <label for="installmentPiad" class="font-bold mt-2">Number of installment paid</label>
              <div class="installment-period">
                <mat-checkbox [checked]= "true" disabled="true"></mat-checkbox>
                <mat-checkbox [checked]= "true" disabled="true"></mat-checkbox>
                <mat-checkbox [checked]= "true" disabled="true"></mat-checkbox>
                <button
                type="button"
                class="btn btn-secondary btn-bor-red"
                placement="bottom"
                ngbTooltip="Next Due Date 22-dec-2018" tooltipClass="my-custom-class">
                delyed
              </button>
              <button type="button" class="btn btn-secondary"></button>

             </div>
            </div>
            </form>
            <br/>
            <br/>
            <br/>
            </div>
            <ng-template #content3 let-modal>
              <div class="modal-body py-5">
                <p class="my-4">
                  Dear Customer Your order has been successfully sent and <br/>will be reviewed and answered as soon as possible


                </p>
                <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" (click)="modal.close('Close click')">CLOSE</button></div>

              </div>
            </ng-template>

            <ng-template #content4 let-modal>
                    <div class="modal-body">
                      <p>
                            Thanks Dear, Your request has been successfully submitted. Pending the approval of the fund requester until the proceedings are carried out. Once you send the approval to the fund requester you will not be able to cancel.
                      </p>
                      <div class="d-flex justify-content-end pb-3 mt-4">
                            <button class="btn btn-info btn-lg btn-block btn-black mt-2 col-lg-4 mr-3" (click)="modal.close('Close click')">Close</button>
                          <button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-4" (click)="openVerticallyCentered(content4)">Confirm</button>
                       </div>

                    </div>
                  </ng-template>
        </div>

        </div>
