<div>
        <div class="row">
          <app-dashbored-navbar></app-dashbored-navbar>

            <aside class="left-sidebar col-lg-4">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <app-sidebar></app-sidebar>
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <div class="page-wraper-right row">
              <app-setting></app-setting>
          </div>



        <div class="page-wraper-right " *ngIf="!selectedProduct">

            <div class="mat-card col-lg-11 mt-5 row welcome-card inner p-2 align-items-center">
                <img class="col-lg-2 " src="assets/images/bookWithMen 2.svg">
                <div class="col-lg-2 px-0">
                    <p class="grey-text-color" [innerHTML]="selectedRequestType"></p>
                </div>
                <form class="col-lg-4">
                <div class="form-group">
                  <label for="Type" class="font-size-13">{{ 'Requests.SelectRequestType' | translate }}</label>
                  <select class="form-control form-control-lg mb-2§ custom-select" [(ngModel)]="selectedRequestType" [ngModelOptions]="{standalone: true}" (change)="onChange($event.target.value)">
                    <!-- <option *ngFor="let options of requestTypes" >{{options.type}}</option> -->
                    <option value=""  selected disabled>{{ 'Requests.SelectRequestType' | translate }}</option>
                    <option value="{{ 'Requests.AllRequests' | translate }}">{{ 'Requests.AllRequests' | translate }} </option>
                    <option value="{{ 'Requests.OngoingRequests' | translate }} ">{{ 'Requests.OngoingRequests' | translate }} </option>
                    <option value="{{ 'Requests.ClosedRequests' | translate }}">{{ 'Requests.ClosedRequests' | translate }} </option>
                    <option value="{{ 'Requests.AwaitingforFundRequests' | translate }}">{{ 'Requests.AwaitingforFundRequests' | translate }}</option>
                 </select>
                </div>
                </form>
                <div class="col-lg-1"></div>
                <div class="col-lg-3" >
                    <label  class="font-size-13">{{ 'Notifications.search' | translate }} :</label>
                    <input  class="form-control form-control-lg mb-3" (keyup)="Search($event.target.value)" >
            </div>
            </div>
            <div class="col-lg-11 row justify-content-end mt-5 dashbored-info">
              <div class="justify-content-center col-lg-12">
                      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mb-5" cellpadding="20" id="table-req">

                              <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>{{ 'Requests.RequestName' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                              </ng-container>

                              <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Requests.RequestDate' | translate }}</th>
                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                              </ng-container>

                              <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef> {{ 'Requests.TotalPrice' | translate }} </th>
                                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                              </ng-container>

                              <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>{{ 'Requests.RequestStatus' | translate }} </th>
                                <td mat-cell *matCellDef="let element" class="mat-cell {{element.status}}"> {{element.status}} </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr  mat-row *matRowDef="let row; columns: displayedColumns;"
                                  (click)="openProductDetails(row)">
                              </tr>
                            </table>
                            <div *ngIf="showMessage">
                              <h3 class="error">{{ 'Requests.NoRequestsFound' | translate }}</h3>
                            </div>
                                   <div style="margin-top: 20px;" id="paginator">
                                  <mat-paginator [pageSizeOptions]="[10]" ></mat-paginator>
                              </div>
             </div>
             <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
             color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
             <p style="color: white; margin-top:50px;font-size: 26px;" >  {{ 'SignUp.Loading' | translate }}</p>
             </ngx-spinner>
          </div>
        </div>


        <div class="page-wraper-right full-width" *ngIf="selectedProduct">

            <div class="justify-content-center col-lg-11 mat-card mt-4 p-0 mb-5">
                <div class="mat-card row p-4 m-0">
                    <div class="header row" style="width: 100%;">
                      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" style="text-align: left;" *ngIf="userLang == 'english'">
                        <i  (click)="closeRequesttDetails()" class="fa fa-chevron-left pt-3 cursor-pointer " aria-hidden="true"></i>
                      </div>
                      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" style="text-align: center;" *ngIf="userLang == 'arabic'">
                        <i  (click)="closeRequesttDetails()" class="fa fa-chevron-right pt-3 cursor-pointer " aria-hidden="true"></i>
                      </div>
                      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 pr-0 pl-0 mr-0">
                        <h1 class="mt-1 pl-2">{{ 'Requests.RequestDetails' | translate }}</h1>
                      </div>
                  </div>

                  </div>

                <form class="col-lg-9 row antim-form p-5 mt-2 mb-5 m-auto">
                <!-- <div class="col-lg-12"><h3 class="headingh3">Request Details</h3></div> -->
                <div class="row" style="width: 100%;">
                    <div class="col-lg-8">
                        <label for="Name" class="font-bold mt-2">{{ 'Requests.RequestName' | translate }}: </label>
                        <input  class="form-control form-control-lg" value="{{requestName}}" readonly  placeholder="Request Name"  [attr.disabled]="true">
                    </div>
                    <div class="col-lg-4">
                      <label  class="font-bold mt-2">{{ 'Requests.RequestNumber' | translate }} : </label>
                      <input  class="form-control form-control-lg" value="{{requestDetails?.requestNumber}}" readonly   [attr.disabled]="true">
                  </div>

                  </div>
                  <div class="row" style="width: 100%;" *ngFor="let product of productList; let i = index;" >
                      <div class="form-group text-left col-lg-9"   >
                          <label  class="font-bold mt-2">{{ 'Requests.ProductLink' | translate }} </label>
                          <input  class="form-control form-control-lg"  type="text" readonly value="{{product.productUrl}}">
                      </div>
                      <div class="form-group text-left col-lg-3"   >
                          <label  class="font-bold mt-2">{{ 'Requests.ProductPrice' | translate }} :</label>
                          <input  class="form-control form-control-lg"   type="number" readonly value="{{product.amount}}">
                        </div>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div class="col-lg-6">
                          <label for="RequestDate" class="font-bold mt-2">{{ 'Requests.RequestDate' | translate }}</label>
                          <input  class="form-control form-control-lg" value="{{requestDate}}" placeholder="Request Date" readonly [attr.disabled]="true">
                      </div>
                      <div class="col-lg-6">
                        <label for="RequestStatus" class="font-bold mt-2">{{ 'Requests.RequestStatus' | translate }} </label>
                        <input  class="form-control form-control-lg " value="{{RequestType}}" readonly placeholder="Request Status" [attr.disabled]="true">
                      </div>
                  </div>
                  <div class="row" style="width: 100%;">
                    <div class="col-lg-6">
                      <label for="Amount" class="font-bold mt-2">{{ 'Requests.TotalPrice' | translate }}</label>
                      <input  class="form-control form-control-lg" value="{{totalPrice}}" placeholder="Total price"  [attr.disabled]="true" readonly>
                  </div>
                  <div class="col-lg-6">
                    <label for="Amount" class="font-bold mt-2">{{ 'Requests.TotalFunderProfit' | translate }}</label>
                    <input  class="form-control form-control-lg" value="{{totalProfit}}" placeholder="Total profit"  [attr.disabled]="true" readonly>
                </div>
              </div>
                  <div class="row" style="width: 100%;">
                      <div class="col-lg-6" >
                         <label for="Installment" class="font-bold mt-2">{{ 'Requests.InstallmentPeriod' | translate }} </label>
                         <input class="form-control form-control-lg" value="{{installmentPeriod}}" readonly placeholder="Installment Period" [attr.disabled]="true">
                     </div>

                         <div class="col-lg-6">
                             <label for="InstallmentAmount" class="font-bold mt-2">{{ 'Requests.MonthlyInstallment' | translate }} </label>
                             <input  class="form-control form-control-lg" value="{{monthlyInstallment}}" placeholder="Monthly Installment"  readonly  [attr.disabled]="true">
                         </div>
                     </div>

                <div class="row" style="width: 100%;">
                        <div class="col-lg-6" >
                          <label  class="font-bold mt-2">{{ 'Requests.ProductStatus' | translate }} </label>
                          <input  class="form-control form-control-lg " value="{{productStatus}}" readonly [attr.disabled]="true" >
                        </div>
                      </div>

                      <div class="col-lg-12 row justify-content-end mt-3 "  *ngIf="showRequestDetailsTable">

                        <div class="justify-content-center col-lg-12" >

                          <div class="row my-3 justify-content-center" style="width: 100%;" *ngIf="showTable">
                              <h3  class="font-bold">{{ 'Requests.InstallmentDetails' | translate }}  </h3>
                           </div>

                            <table mat-table [dataSource]="InstallmentDetailsTable" id="InstallmentDetailsTable" class="mat-elevation-z8 my-2" cellpadding="20" *ngIf="showTable" >

                                <ng-container matColumnDef="months">
                                    <th mat-header-cell *matHeaderCellDef >{{ 'Requests.No' | translate }} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.month}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="dueDate">
                                      <th mat-header-cell *matHeaderCellDef >{{ 'Requests.DueDate' | translate }}  </th>
                                      <td mat-cell *matCellDef="let element"> {{ userLang == 'arabic' ? element.arDate : element.date }}</td>
                                  </ng-container>

                                  <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'Requests.MonthlyInstallment' | translate }} </th>
                                    <td mat-cell *matCellDef="let element">  {{ userLang == 'arabic' ? element.arPrice : element.price }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef >{{ 'Requests.Status' | translate }}</th>
                                    <td mat-cell *matCellDef="let element" class="mat-cell {{element.status}}">  {{ userLang == 'arabic' ? element.arStatus : element.status }} </td>
                                  </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                                          <tr mat-row *matRowDef="let row; columns: displayColumns;">
                                          </tr>
                                        </table>


                        </div>
                      </div>

                </form>
                <br/>
                <br/>
                </div>

            </div>
    </div>

