 <div>
        <div class="row">
               <app-dashbored-navbar></app-dashbored-navbar>
                <aside class="left-sidebar col-lg-4">
                  <!-- Sidebar scroll-->
                  <div class="scroll-sidebar">
                      <app-sidebar></app-sidebar>
                  </div>
                  <!-- End Sidebar scroll-->
              </aside>
              <div class="page-wraper-right row">
                  <app-setting></app-setting>
              </div>

              <div class="page-wraper-right">
                <div class="row" *ngIf="currentUser">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10 mt-3 alert alert-warning " id="move-dashboredC-icon" *ngIf="!currentUser?.emailConfirmed">
                    <p class= "mb-0"> <i class="mr-1 fa fa-exclamation-circle"></i>
                      {{ 'Dashbored.EmailnoTverified' | translate }}
                       <span class="ml-2 mr-3"> <u ><a (click)="resendEmail()"> {{ 'Dashbored.ResendVerificationLink' | translate }}   </a></u>
                       </span>
                      </p>
                  </div>
                </div>

                <div class="mat-card col-lg-11 mt-5 row welcome-card p-2 align-items-center">
                  <img class="col-lg-2" src="assets/images/bookWithMen.svg">
                  <div class="col-lg-8 px-0" *ngIf="currentUser">
                    <p class="grey-text-color">{{ 'Dashbored.WelcomeMsg1' | translate }} {{currentUser?.firstName}}! {{ 'Dashbored.WelcomeMsg2' | translate }}</p>
                  </div>
                  <!-- <form class="col-lg-3">
                  <div class="form-group">
                      <label for="dateOfBirth" class="font-size-13">Filter Date</label>
                      <div class="input-group">
                      <input (click)="dp.toggle()" class="form-control date-picker" placeholder="mm-dd-yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker">
                      <i class="fa fa-calendar"></i>
                      </div>
                  </div>
                  </form> -->
              </div>
              <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
              color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
              <p style="color: white; margin-top:50px;font-size: 26px;" >{{ 'SignUp.Loading' | translate }} </p>
              </ngx-spinner>

                <div class="col-lg-11 row justify-content-around mt-5 dashbored-info">
                    <!-- <div class="col-lg-2 blue-bg cursor-pointer" [routerLink]="[ '/requests-customer' , 'Ongoing']"> -->
                    <div class="col-lg-2 blue-bg  " >
                        <div class="dashbored-info-content">
                            <p class="color-white">{{ 'Dashbored.TotalSubmittedrequests' | translate }}  </p>
                            <div style="text-align: center;">{{customerRequests?.submitted}}</div>
                        </div>
                    </div>
                <!-- <div class="col-lg-2 purple-bg cursor-pointer" [routerLink]="[ '/requests-customer' ,'Waiting for approval']"> -->
                <div class="col-lg-2 purple-bg  " >
                    <div class="dashbored-info-content">
                        <p class="color-white">{{ 'Dashbored.OngoingRequests' | translate }}  </p >
                        <div style="text-align: center;">{{customerRequests?.ongoing}}</div>
                    </div>
                </div>
                    <!-- <div class="col-lg-2 black-bg cursor-pointer" [routerLink]="[ '/requests-customer' ,'Rejected']"> -->
                    <div class="col-lg-2 black-bg  " >
                        <div class="dashbored-info-content">
                          <p class="color-white">{{ 'Dashbored.TotalInstallmentPaid' | translate }}   </p>
                          <div style="text-align: center; font-size: 18px" *ngIf="customerRequests">{{customerRequests?.paidInstallmentsAmount}} <span style="font-size: 16px !important;">{{ 'Dashbored.SAR' | translate }} </span> </div>
                        </div>
                      </div>


                    <!-- <div class="col-lg-2 purple-bg-2 cursor-pointer" [routerLink]="[ '/requests-customer' ,'Closed']"> -->
                    <div class="col-lg-2 blue-bg-2 " >
                        <div class="dashbored-info-content">
                            <p class="color-white">{{ 'Dashbored.UnderReviewrequests' | translate }}  </p>
                            <div style="text-align: center;">{{customerRequests?.underReview}}</div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2 blue-bg-2 cursor-pointer" [routerLink]="[ '/requests-customer' ,'Draft']"> -->
                    <div class="col-lg-2 purple-bg-2  " >

                      <div class="dashbored-info-content">
                        <p class="color-white">{{ 'Dashbored.AwaitingforFundRequests' | translate }}</p>
                        <div style="text-align: center;">{{customerRequests?.awaiting}}</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-11 mt-3 row justify-content-center align-items-center py-4 mt-5 align-fixed-mobile">
                        <div class="form-group col-lg-2 col-6">
                               <!-- <button class="btn btn-info btn-lg btn-block btn-black mt-2 btn-lowecase" [routerLink]="[ '/requests-customer', '' ]">All Request</button> -->
                               <button class="btn btn-info btn-lg btn-block btn-black mt-2 btn-lowecase" (click)="SetTitle('Antim | My Requests', ' انتيم | طلباتي ')"  [routerLink]="[ '/requests-customer' ]">{{ 'Dashbored.AllRequest' | translate }} </button>
                       </div>
                       <div class="form-group col-lg-3 col-6">
                           <button class="btn btn-info btn-lg btn-block btn-purple mt-2 btn-lowecase" (click)="SetTitle('Antim | Create New Request', ' انتيم | إنشاء طلب جديد')"  [routerLink]="[ '/createorder-customer' ]">{{ 'Dashbored.MakeNewRequest' | translate }} </button>
                       </div>
                </div>
    </div>
    </div>
</div>
