<div>
<div class="row">
        <nav id="navbar-app" class="navbar navbar-expand-lg navbar-light container py-4 mb-auto sticky-nav" ngStickyNav stickyClass="sticky-fixed-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" [routerLink]="[ '/' ]">
                        <img src="assets/images/logo-white.svg" alt="antim">

                </a>
        </nav>
    <aside class="left-sidebar col-lg-4">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <div class="page-wraper-right row">
        <app-setting></app-setting>
    </div>



<div class="page-wraper-right">
                <div class="mat-card col-lg-11 mt-5 row welcome-card p-2 align-items-center">
                    <img class="col-lg-2" src="assets/images/bookWithMen.svg">
                    <div class="col-lg-7 px-0">
                        <p class="grey-text-color">Oh! Welcome Home {{currentUser?.firstName}}! We've prepared some useful information below ;)</p>
                    </div>
                    <form class="col-lg-3">
                    <div class="form-group">
                        <label for="dateOfBirth" class="font-size-13">Filter Date</label>
                        <div class="input-group">
                        <input (click)="dp.toggle()" class="form-control date-picker" placeholder="mm-dd-yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker">
                        <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    </form>
                </div>



                <div class="col-lg-11 row justify-content-around mt-5 dashbored-info">
                    <div class="col-lg-2 blue-bg cursor-pointer" [routerLink]="[ '/requests-borrower' , 'Ongoing']">
                        <div class="dashbored-info-content">
                            <p>On going requests</p>
                            <div>03</div>
                        </div>
                    </div>
                <div class="col-lg-2 purple-bg cursor-pointer" [routerLink]="[ '/requests-borrower' ,'Under Review']">
                    <div class="dashbored-info-content">
                        <p>Under review Requests</p>
                        <div>03</div>
                    </div>
                    </div>
                    <div class="col-lg-2 black-bg cursor-pointer" [routerLink]="[ '/requests-borrower' ,'Reject']">
                        <div class="dashbored-info-content">
                            <p>Rejected requests</p>
                            <div>03</div>
                        </div>
                    </div>
                    <div class="col-lg-2 blue-bg-2 cursor-pointer" [routerLink]="[ '/requests-borrower' ,'' ]">
                        <div class="dashbored-info-content">
                            <p>Total Installment Paid</p>
                            <div>3600 SAR </div>
                        </div>
                    </div>
                    <div class="col-lg-2 purple-bg-2 cursor-pointer" [routerLink]="[ '/requests-borrower' ,'Wating your approval']">
                        <div class="dashbored-info-content">
                            <p>under review requests</p>
                            <div>03</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-11 mt-3 row justify-content-center align-items-center py-4 mt-5 align-fixed-mobile">
                        <div class="form-group col-lg-2 col-6">
                               <button class="btn btn-info btn-lg btn-block btn-black mt-2 btn-lowecase" [routerLink]="[ '/requests-customer', '' ]">All Request</button>
                       </div>
                       <div class="form-group col-lg-3 col-6">
                           <button class="btn btn-info btn-lg btn-block btn-purple mt-2 btn-lowecase" [routerLink]="[ '/createorder-customer' ]">Make New Request</button>
                       </div>
                </div>
    </div>
</div>
