<div class="container-fluid h-100 p-0">

      <div class="row m-0"  style="background: #5c20d2; text-align: center ; display: flex; justify-content: center ; height: 40%; " >
        <h1 style="font-size: 48px; color: white; padding-top:100px; font-weight: bold; ">Thank You!</h1>
      </div>
      <p style="margin: 20px;text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 20px;  ">Your Email has been Confirmed! Please Login to get access</p>
      <div class="row"  style="display: flex; justify-content: center ; margin-top:30px;" >
        <a [routerLink]="[ '/login']"  style="font-size: 20px; text-align: center;font-family: Helvetica, Arial, sans-serif; background: #5c20d2; color: #ffffff; text-decoration: none;  padding: 15px 25px; border-radius: 2px; text-align: center; display: inline-block;">Login</a>
        </div>

</div>
