<div>
    <div class="row">
            <nav id="navbar-app" class="navbar navbar-expand-lg navbar-light container py-4 mb-auto sticky-nav" ngStickyNav stickyClass="sticky-fixed-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" [routerLink]="[ '/' ]">
                            <img src="assets/images/logo-white.svg" alt="antim">

                    </a>
            </nav>
        <aside class="left-sidebar col-lg-4">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wraper-right row">
            <app-setting></app-setting>
        </div>



    <div class="page-wraper-right">
                    <div class="mat-card col-lg-11 mt-5 row welcome-card p-2 align-items-center">
                        <img class="col-lg-2" src="assets/images/bookWithMen.svg">
                        <div class="col-lg-5 px-0" >
                            <p class="grey-text-color">Oh! Welcome Home {{currentUser?.firstName}}! We've prepared some useful information below ;)</p>
                        </div>
                        <div class="col-lg-1"></div>
                        <form class="col-lg-4" *ngIf="currentUser">
                        <div class="form-group">
                            <label for="dateOfBirth" class="balance-style mt-2">Your Antime Balance : <span style="color: green; font-size: 17px;">{{currentUser?.balance}} SAR </span> </label>
                            <!-- <div class="input-group">
                              <input class="form-control form-control-lg" value="{{currentUser?.balance}} SAR" readonly >
                              <i class="fa fa-money"></i>
                            </div> -->
                        </div>
                        </form>
                    </div>

                    <!-- <form class="row antim-form mt-3 mb-3" [formGroup]="UserBalance" >
                      <div class="col-lg-12 mb-2"><h3 class="headingh3">My Antime Balance</h3></div>
                    <div class="col-lg-8">
                      <label for="balance" class="font-bold mt-2">My Balance</label>
                      <input matInput formControlName="MyBalance" class="form-control form-control-lg" value="{{userBalance}}" digitOnly [(ngModel)]="userBalance" >
                      <div *ngIf="UserBalance.controls['MyBalance'].touched && UserBalance.controls['MyBalance'].hasError('required')" class="error-msg alert alert-danger text-left">Balance is required</div>
                    </div>
                  </form> -->
                    <!-- <div class="col-lg-11 row justify-content-around mt-5 dashbored-info" *ngIf="funderDashboardData"> -->
                    <div class="col-lg-11 row justify-content-around mt-5 dashbored-info">
                        <!-- <div class="col-lg-2 blue-bg cursor-pointer" [routerLink]="[ '/requests-lender' , 'Ongoing']">                            <div class="dashbored-info-content"> -->
                        <div class="col-lg-2 blue-bg">
                          <div class="dashbored-info-content">
                                <p>Ongoing requests</p>
                                <div>{{funderDashboardData?.noOfOngoingRequests}}</div>
                            </div>
                        </div>
                    <div class="col-lg-2 purple-bg">
                        <div class="dashbored-info-content">
                            <p>Funded Users</p>
                            <div>{{funderDashboardData?.noOfFundedCustomers}}</div>
                          </div>
                        </div>
                        <div class="col-lg-2 black-bg">
                            <div class="dashbored-info-content">
                                <p>Total Amount of Fund</p>
                                <div>{{funderDashboardData?.totalAmountOfFund}}</div>
                            </div>
                        </div>
                        <div class="col-lg-2 blue-bg-2">
                            <div class="dashbored-info-content">
                                <p>Total reserved Installments </p>
                                <div>{{funderDashboardData?.totalReservedInstallments}}</div>
                            </div>
                        </div>
                        <div class="col-lg-2 purple-bg-2">
                            <div class="dashbored-info-content">
                                <p>Total profits (SAR)</p>
                                <div>{{funderDashboardData?.totalFunderProfit}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-11 mt-3 row justify-content-center align-items-center py-4 mt-5 align-fixed-mobile">
                            <div class="form-group col-lg-2 col-6">
                                   <button class="btn btn-info btn-lg btn-block btn-black mt-2 btn-lowecase" [routerLink]="[ '/requests-funder']">All Request</button>
                           </div>
                           <div class="form-group col-lg-3 col-6">
                               <button class="btn btn-info btn-lg btn-block btn-purple mt-2 btn-lowecase">Make New Request</button>
                           </div>
                    </div>
        </div>
    </div>
