.balance-style {
  text-align: center;
  font-size: 16;
  font-weight: bold;
}
u{
  cursor: pointer;
  color: #5c20d2 !important
}

.color-white {
  color: white !important;
  font-size: 14px;
  font-weight: bold;
  height: 40px !important;
}
