

      <div>
          <div class="row base-row">
            <app-dashbored-navbar></app-dashbored-navbar>

              <aside class="left-sidebar col-lg-4">
                  <!-- Sidebar scroll-->
                  <div class="scroll-sidebar">
                      <app-sidebar></app-sidebar>
                  </div>
                  <!-- End Sidebar scroll-->
              </aside>
              <div class="page-wraper-right row">
                <app-setting></app-setting>
            </div>



          <div class="page-wraper-right full-width" >

              <div class="justify-content-center col-lg-11 mat-card mt-4 p-0 mb-5">
                  <div class="mat-card p-4 m-0">
                    <div class="header row" style="width: 100%;">
                      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" style="text-align: left;" *ngIf="userLang == 'english'">
                        <i  [routerLink]="['/requests-funder']" class="fa fa-chevron-left pt-3 cursor-pointer " aria-hidden="true"></i>

                      </div>
                      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" style="text-align: center;" *ngIf="userLang == 'arabic'">
                        <i  [routerLink]="['/requests-funder']" class="fa fa-chevron-right pt-3 cursor-pointer " aria-hidden="true"></i>

                      </div>
                      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 pr-0 pl-0 mr-0">
                        <h1 class="mt-1 pl-2">{{ 'Requests.RequestDetails' | translate }}</h1>
                      </div>
                  </div>
                    </div>

                <form class="col-lg-10 row antim-form p-5 mt-2 mb-5 m-auto" [formGroup]="editRequestForm">
                    <div class="row" style="width: 100%;">
                      <!-- <div class="col-lg-6 padding mt-4"><h3 class="headingh3">Request Details</h3>
                        </div> -->
                        <div class="col-lg-8 ">
                          </div>
                          <div class="form-group col-lg-4" >
                            <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  (click)="OpenPopUp(content)">{{ 'Requests.MakeFund' | translate }}</button>
                        </div>
                        </div>
                    <div class="row" style="width: 100%;">
                      <div class="col-lg-8">
                          <label for="Name" class="font-bold mt-2">{{ 'Requests.RequestName' | translate }} </label>
                          <input formControlName="ProductName" class="form-control form-control-lg" value="{{requestName}}"  [attr.disabled]="true">
                      </div>
                      <div class="col-lg-4">
                        <label  class="font-bold mt-2">{{ 'Requests.RequestNumber' | translate }} </label>
                        <input  class="form-control form-control-lg" value="{{requestDetails?.requestNumber}}" readonly   [attr.disabled]="true">
                    </div>
                    </div>


                    <div class="row" style="width: 100%;" *ngFor="let product of productList; let i = index;" >
                        <div class="form-group text-left col-lg-9"   >
                            <label  class="font-bold mt-2">{{ 'Requests.ProductLink' | translate }}</label>
                            <input  class="form-control form-control-lg"  type="text" readonly value="{{product.productUrl}}">
                        </div>
                        <div class="form-group text-left col-lg-3"   >
                            <label  class="font-bold mt-2">{{ 'Requests.ProductPrice' | translate }}</label>
                            <input  class="form-control form-control-lg"   type="number" readonly value="{{product.amount}}">
                          </div>
                      </div>

                    <div class="row" style="width: 100%;">
                        <div class="col-lg-4">
                          <label for="RequestDate" class="font-bold mt-2">{{ 'Requests.RequestDate' | translate }}</label>
                          <input formControlName="RequestDate" class="form-control form-control-lg" value="{{ userLang == 'arabic' ? arRequestDate : requestDate }}"  readonly [attr.disabled]="true">
                      </div>
                      <div class="col-lg-4">
                          <label for="Amount" class="font-bold mt-2">{{ 'Requests.TotalPrice' | translate }}</label>
                          <input formControlName="FundingAmount" class="form-control form-control-lg" value="{{totalPrice}}" type="number"   [attr.disabled]="true" readonly>
                      </div>
                      <div class="col-lg-4">
                        <label for="totalAmount" class="font-bold mt-2">{{ 'Requests.TotalFunderProfit' | translate }}</label>
                        <input formControlName="TotalAmount" class="form-control form-control-lg" value="{{totalProfit}}" type="number"  [attr.disabled]="true" readonly>
                    </div>
                  </div>

                   <div class="row" style="width: 100%;">
                   <div class="col-lg-4" >
                      <label for="Installment" class="font-bold mt-2">{{ 'Requests.InstallmentPeriod' | translate }}</label>
                      <input formControlName="installmentPeriod" class="form-control form-control-lg" value="{{ userLang == 'arabic' ? arInstallmentPeriod : installmentPeriod }}" placeholder="Installment Period" [attr.disabled]="true">
                  </div>

                      <div class="col-lg-4">
                          <label for="InstallmentAmount" class="font-bold mt-2">{{ 'Requests.MonthlyInstallment' | translate }}</label>
                          <input formControlName="MonthlyInstallment" class="form-control form-control-lg" value="{{monthlyInstallment}}"   readonly placeholder="Installment amount per month" [attr.disabled]="true">
                      </div>
                  </div>
                  <div class="row" style="width: 100%;">
                      <div class="col-lg-6">
                        <label for="RequestStatus" class="font-bold mt-2">{{ 'Requests.RequestStatus' | translate }}</label>
                        <input formControlName="RequestStatus" class="form-control form-control-lg " value="{{userLang == 'arabic' ? arRequestType : requestType }}"  readonly [attr.disabled]="true">
                      </div>


                      <div class="col-lg-6"></div>
                      </div>



                      <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
                color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
                <p style="color: white; margin-top:50px;font-size: 26px;" > {{ 'SignUp.Loading' | translate }} </p>
                </ngx-spinner>
                      </form>
            <br/>
            <br/>
            </div>
            <ng-template #content let-modal>

                <div class="modal-header">
                    <h4 class="modal-title">{{ 'Requests.MakeFund' | translate }}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body py-3">
                    <p class="my-3 mx-3">
                      {{ 'Requests.DoYouWant' | translate }}
                      <!-- {{ 'Requests.DoYouWant' | translate }} {{totalPrice}} {{ 'Requests.thisRequestName' | translate }} -->
                    </p>
                    <div class="row py-2" style="width: 100%;">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-3"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 " (click)="makeFund()">{{ 'Setting.CONFIRM' | translate }}</button></div>
                        <div class="col-lg-3"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 " (click)="modal.close('Close click')">{{ 'Setting.CLOSE' | translate }}</button></div>
                  </div>
                  </div>
                </ng-template>


        </div>



        </div>
