
.error {
  font-weight: bold;
  font-size: 6vw;
  font-family: inherit;
  text-align: center;
  margin-top:50px;
  margin-bottom:50px;
  flex: auto;
}
.not-found {
  font-weight: bold;
  font-size: 4vw;
  color: #5c20d2;
  font-family: inherit;
  text-align: center;
  flex: auto;
}
  .paragraph {
    color: gray;
    font-weight: bold;
    font-family: inherit;
    text-align: right;
    margin: 50px;
    font-size: 24px;
  }
  .link {
    font-size: 24px;
    font-family: inherit;
    text-align: right;
    font-weight: bold;
  }


@media  screen and (min-width: 320px) {

  .error {
     margin-top: 60px;
     margin-bottom: 20px;
     font-weight: bold;

  }
  .not-found{
    font-weight: bold;
    margin: 30px;
  }

}


@media screen and (max-width: 500px) {
  .paragraph {
    color: gray;
    font-weight: bold;
    text-align: right;
    font-size: 16px;
    margin: 25px !important;

  }
  .link {
    font-size: 16px ;
    text-align: right;
    font-weight: bold;
  }
}
