<div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 background-box px-5 py-5 text-center">
                    <img src="assets/images/user.svg" alt="antim">
                <p class="grey-text-color mt-3 mb-2">Hello sir, nice to see you again!<br/>Please insert your login info below to proceed </p>
                <form action="" class="form-log-in mt-4 form-antim">
                    <div class="form-group text-left">
                        <label for="name">User Name</label>
                        <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="user name type here..." type="text">
                    </div>
                    <div class="form-group text-left">
                        <label for="password">Password</label>
                        <input class="form-control form-control-lg" placeholder="***********" type="password">
                    </div>
                    <div class="form-group mt-4">
                        <button class="btn btn-info btn-lg btn-block btn-purple mt-5">Sign In</button>
                    </div>
                    <p class="grey-text-color pt-4">forgot password ?</p>
                </form>
            </div>
        </div>
    </div>