<div class="container header-inner">
        <div class="row mb-3">
            <div class="col-lg-12 d-flex justify-content-center flex-column text-center mt-min-100">
                <img src="assets/images/image-antim.svg" class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s">
                <h1 class="wow fadeInUp mt-4" data-wow-duration=".8s" data-wow-delay="0.5s">{{ 'HOME.contact' | translate }}</h1>
                <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s">{{ 'contact.contactDesc' | translate }}</p>
            </div>
        </div>
 </div>

 <div class="container">
     <div class="row">
            <div class="col-md-12 text-center">
                    <div class="card">
                        <div class="card-body">
                            <ngb-tabset type="pills" [orientation]="currentOrientation">
                              <ngb-tab title="{{ 'contact.ContactForm' | translate }}">
                                <ng-template ngbTabContent>
                                  <!-- Default form contact -->
                                <!-- <form class="text-center mat-card p-5 contact-form row justify-content-end" [formGroup]="contactForm" (ngSubmit)="onSubmit()"> -->
                                <form class="text-center mat-card p-5 contact-form row justify-content-end" [formGroup]="contactForm" >
                                        <!-- Name -->
                                        <div class="form-group col-lg-12 mb-4">
                                            <label class="text-left font-bold">{{ 'contact.Name' | translate }}</label>
                                            <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput [(ngModel)]="name"
                                            class="form-control" placeholder="{{ 'contact.NameType' | translate }}">
                                            <div *ngIf="contactForm.controls['contactFormName'].touched && contactForm.controls['contactFormName'].hasError('required')" class="error-msg alert alert-danger text-left">{{ 'contact.Namerequired' | translate }}</div>
                                            <div *ngIf="contactForm.controls['contactFormName'].touched && contactForm.controls['contactFormName'].hasError('pattern')" class="error-msg alert alert-danger text-left">Name must contains only characters.</div>

                                        </div>
                                        <!-- Email -->
                                        <div class="form-group col-lg-8 mb-4">
                                            <label class="text-left font-bold">{{ 'contact.Email' | translate }}</label>
                                            <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput [(ngModel)]="email"
                                            class="form-control" placeholder="{{ 'contact.emailType' | translate }}">
                                            <div *ngIf="contactForm.controls['contactFormEmail'].touched && contactForm.controls['contactFormEmail'].hasError('required')" class="error-msg alert alert-danger text-left">{{ 'contact.Emailrequired' | translate }} </div>
                                            <div *ngIf="contactForm.controls['contactFormEmail'].touched && contactForm.controls['contactFormEmail'].hasError('pattern')" class="error-msg alert alert-danger text-left">Enter valid Email Address.</div>

                                         </div>
                                          <!-- Phone Number -->
                                         <!-- <div class="form-group col-lg-8 mb-4">
                                                <label class="text-left font-bold">{{ 'contact.MobileNo' | translate }}</label>
                                                <input type="text" formControlName="contactFormPhone" mdbInput [(ngModel)]="mobile"
                                                class="form-control" placeholder="{{ 'contact.typeMobile' | translate }}" digitOnly
                                                oninput="javascript: if (this.value.length >= 11) { document.getElementById('phonenumber').style.visibility = 'hidden'; }
                                                else { document.getElementById('phonenumber').style.visibility = 'visible'; }" [(ngModel)]="signupPhone">
                                                <div *ngIf="contactForm.controls['contactFormPhone'].touched && contactForm.controls['contactFormPhone'].hasError('required')" class="error-msg alert alert-danger text-left">{{ 'contact.Phonerequired' | translate }}</div>
                                                <span class="redColor" id="phonenumber"> Phone number must be at least 11 characters long.</span>
                                       </div> -->
                                        <!-- Subject -->
                                        <div class="form-group col-lg-4 mb-4">
                                            <label class="text-left font-bold">{{ 'contact.CommentType' | translate }}</label>
                                            <select formControlName="contactFormSubjects" class="browser-default custom-select" [(ngModel)]="messageType" >
                                                <option value="0" selected>{{ 'contact.Chooseoption' | translate }}</option>
                                                <option value="1" >{{ 'contact.Suggestion' | translate }}</option>
                                                <option value="2">{{ 'contact.ReportAbug' | translate }}</option>
                                                <option value="3">{{ 'contact.FeatureRequest' | translate }}</option>
                                                <option value="4">{{ 'contact.Feedback' | translate }}</option>
                                                <option value="5">{{ 'contact.Other' | translate }}</option>
                                            </select>
                                            <svg  class="arrow" width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1.2113L7 10.7606L13 1.2113" stroke="#B4B2AD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <div *ngIf="contactForm.controls['contactFormSubjects'].touched && !contactForm.controls['contactFormSubjects'].valid" class="error-msg alert alert-danger text-left">{{ 'contact.CommentTypeRequired' | translate }}</div>

                                        </div>

                                        <!-- Message -->
                                        <div class="form-group col-lg-12 mb-4">
                                        <label class="text-left font-bold">{{ 'contact.Message' | translate }}</label>
                                        <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput [(ngModel)]="message" id="exampleFormControlTextarea2"
                                            rows="4" placeholder="{{ 'contact.MessageType' | translate }}"></textarea>
                                       <div *ngIf="contactForm.controls['contactFormMessage'].touched && !contactForm.controls['contactFormMessage'].valid" class="error-msg alert alert-danger text-left">{{ 'contact.MessageRequired' | translate }}Message required</div>

                                        </div>

                                        <!-- Copy -->
                                        <!-- Send button -->
                                        <button block="true"class="btn btn-info btn-lg btn-block btn-purple col-lg-3 p-4 mx-2" (click)="sendMessage()"
                                        mdbWavesEffect type="button" [disabled]="disabledSubmitButton">{{ 'contact.Send' | translate }}</button>

                                    </form>
                                    <div class="pattern-up pattern-form"></div>

                                    <!-- Default form contact -->
                                    <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
                                    color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
                                    <p style="color: white; margin-top:50px;font-size: 26px;" > Loading... </p>
                                    </ngx-spinner>

                                </ng-template>
                              </ngb-tab>
                              <ngb-tab>
                                <ng-template ngbTabTitle>{{ 'contact.ContactInformation' | translate }} </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="container mt-5 text-left">
                                        <div class="row mat-card">
                                            <div class="col-lg-12">
                                                <h4 class="font-bold font-purple heading-icon py-4">
                                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#5C20D2"/>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 10H21.6C22.37 10 23 10.63 23 11.4V19.8C23 20.57 22.37 21.2 21.6 21.2H10.4C9.63 21.2 9 20.57 9 19.8V11.4C9 10.63 9.63 10 10.4 10Z" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M23 11.4L16 16.3L9 11.4" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>{{ 'contact.Email' | translate }}
                                                    </h4>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <div class="grey-color">Intime care</div>
                                                <div><a href="mailto:sscare@intime.com" class="font-bold">sscare@intime.com</a></div>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                    <div class="grey-color">Intime care</div>
                                                    <div><a href="mailto:sscare@intime.com" class="font-bold">sscare@intime.com</a></div>
                                                </div>

                                            <div class="col-lg-4 col-12">
                                                <div class="grey-color">{{ 'contact.customersService' | translate }}</div>
                                                <div><a href="mailto:supportus@Intime.com" class="font-bold">supportus@Intime.com</a></div>
                                            </div>
                                        </div>
                                        <div class="row mat-card mt-5">
                                                <div class="col-lg-12">
                                                    <h4 class="font-bold font-purple heading-icon py-4">
                                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#5C20D2"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.9996 19.4817V21.5892C23.0012 21.9849 22.8356 22.3628 22.5435 22.6303C22.2514 22.8977 21.8598 23.0299 21.465 22.9943C19.299 22.7594 17.2183 22.0207 15.3902 20.8376C13.6895 19.7589 12.2475 18.3198 11.1667 16.6224C9.97711 14.7897 9.23677 12.7031 9.00572 10.5316C8.97015 10.1388 9.10164 9.74913 9.36807 9.45785C9.6345 9.16656 10.0113 9.00044 10.4065 9.00007H12.5183C13.2249 8.99313 13.8272 9.51008 13.9261 10.2084C14.0152 10.8829 14.1805 11.5451 14.4188 12.1825C14.6122 12.6959 14.4885 13.2748 14.1021 13.6648L13.2081 14.557C14.2102 16.3158 15.6693 17.7721 17.4316 18.7721L18.3256 17.8799C18.7164 17.4942 19.2963 17.3708 19.8108 17.5638C20.4495 17.8016 21.113 17.9666 21.7888 18.0556C22.4967 18.1552 23.0173 18.7685 22.9996 19.4817Z" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                </svg>
                                                                {{ 'contact.customersService' | translate }}                                                        </h4>
                                                </div>
                                                <div class="col-lg-4 col-12">
                                                    <div class="grey-color">{{ 'contact.MobileNo' | translate }} </div>
                                                    <div><a href="tel:920001230" class="font-bold">920001230</a></div>
                                                </div>
                                                <div class="col-lg-4 col-12">
                                                        <div class="grey-color">From within Kingdom</div>
                                                        <div><a href="tel:8005790000" class="font-bold">8005790000</a></div>
                                                    </div>

                                                <div class="col-lg-4 col-12">
                                                    <div class="grey-color">From outside the Kingdom</div>
                                                    <div><a href="tel:+966920001230" class="font-bold">+966920001230</a></div>
                                                </div>
                                            </div>
                                            <div class="row mat-card mt-5">
                                                    <div class="col-lg-12">
                                                        <h4 class="font-bold font-purple heading-icon py-4">
                                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#5C20D2"/>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.9996 19.4817V21.5892C23.0012 21.9849 22.8356 22.3628 22.5435 22.6303C22.2514 22.8977 21.8598 23.0299 21.465 22.9943C19.299 22.7594 17.2183 22.0207 15.3902 20.8376C13.6895 19.7589 12.2475 18.3198 11.1667 16.6224C9.97711 14.7897 9.23677 12.7031 9.00572 10.5316C8.97015 10.1388 9.10164 9.74913 9.36807 9.45785C9.6345 9.16656 10.0113 9.00044 10.4065 9.00007H12.5183C13.2249 8.99313 13.8272 9.51008 13.9261 10.2084C14.0152 10.8829 14.1805 11.5451 14.4188 12.1825C14.6122 12.6959 14.4885 13.2748 14.1021 13.6648L13.2081 14.557C14.2102 16.3158 15.6693 17.7721 17.4316 18.7721L18.3256 17.8799C18.7164 17.4942 19.2963 17.3708 19.8108 17.5638C20.4495 17.8016 21.113 17.9666 21.7888 18.0556C22.4967 18.1552 23.0173 18.7685 22.9996 19.4817Z" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    </svg>
                                                                    {{ 'contact.MarketingSales' | translate }}


                                                            </h4>
                                                    </div>
                                                    <div class="col-lg-4 col-12">
                                                        <div class="grey-color">{{ 'contact.MobileNo' | translate }} </div>
                                                        <div><a href="tel:920001230" class="font-bold">8001236321</a></div>
                                                    </div>
                                                </div>
                                        </div>
                                </ng-template>
                              </ngb-tab>
                              <ngb-tab title="{{ 'contact.OurLocation' | translate }}  ">
                                <ng-template ngbTabContent>
                                    <div class="container">
                                        <div class="row">
                                               <div class="col-lg-12" id="map" leaflet
                                                style="height:100px;"
                                                [leafletCenter]="mapCenter"
                                                [leafletZoom]="zoomLevel"
                                                [leafletLayers]="leafletLayers">
                                           </div>
                                           </div>
                                        </div>
                                </ng-template>
                              </ngb-tab>
                            </ngb-tabset>

                     </div>
                    </div>
                </div>
     </div>
 </div>

 <footer class="footer py-5 bg-black">
        <div class="container">
                <div class="row">
                        <div class="col col-lg-2 col-12">
                                <img src="{{userLang == 'english' ? 'assets/images/logo.svg' : 'assets/images/antim-logo-arabic.svg' }}" class="logo-img" alt="antim">

                        </div>
                        <div class="col col-lg-3 col-12">
                            <p class="copy-right pt-2">2019 .{{ 'HOME.AllRightsReserved' | translate }}
                                </p>
                        </div>
                        <div class="col col-lg-3 col-12">
                            <ul class="inline">
                                <li>
                                <a href="https://twitter.com/antim_app" target="_blank">
                                <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="HomeV2" transform="translate(-648.000000, -5987.000000)">
                                            <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                                <g id="Stacked-Group-4">
                                                    <g id="Group-8">
                                                        <rect id="Rectangle-Copy-3" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                        <g id="twitter" transform="translate(8.000000, 10.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                            <path d="M22,0.0102625429 C21.042385,0.68573995 19.9821079,1.20237179 18.86,1.54026254 C17.6263595,0.121800337 15.63837,-0.375623146 13.8820815,0.294715977 C12.125793,0.965055099 10.9748003,2.66056341 11,4.54026254 L11,5.54026254 C7.43066483,5.63281494 4.05202531,3.93223305 2,1.01026254 C2,1.01026254 -2,10.0102625 7,14.0102625 C4.94052756,15.4082289 2.48715691,16.1091919 0,16.0102625 C9,21.0102625 20,16.0102625 20,4.51026254 C19.9990791,4.23171618 19.9722975,3.95385694 19.92,3.68026254 C20.9406031,2.67375562 21.6608274,1.40297533 22,0.0102625429 Z" id="Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                </a>
                                </li>
                                <li>
                                    <a href="#">

                                <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="HomeV2" transform="translate(-705.000000, -5987.000000)">
                                            <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                                <g id="Stacked-Group-4">
                                                    <g id="Group-7" transform="translate(57.000000, 0.000000)">
                                                        <rect id="Rectangle-Copy-2" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                        <g id="instagram" transform="translate(9.000000, 9.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                            <rect id="Rectangle-path" x="0" y="0" width="20" height="20" rx="5"></rect>
                                                            <path d="M14,9.37 C14.2531224,11.0769716 13.3830258,12.7538445 11.8416265,13.5296738 C10.3002272,14.3055032 8.43504857,14.0053707 7.21483896,12.785161 C5.99462934,11.5649514 5.69449683,9.69977279 6.47032616,8.15837347 C7.24615548,6.61697416 8.92302841,5.74687756 10.63,6 C12.3729768,6.25846155 13.7415384,7.62702323 14,9.37 Z" id="Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="HomeV2" transform="translate(-762.000000, -5987.000000)">
                                                <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                                    <g id="Stacked-Group-4">
                                                        <g id="Group-6" transform="translate(114.000000, 0.000000)">
                                                            <rect id="Rectangle" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                            <g id="facebook" transform="translate(13.000000, 9.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                                <path d="M11,0 L8,0 C5.23857625,0 3,2.23857625 3,5 L3,8 L0,8 L0,12 L3,12 L3,20 L7,20 L7,12 L10,12 L11,8 L7,8 L7,5 C7,4.44771525 7.44771525,4 8,4 L11,4 L11,0 Z" id="Shape"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-lg-4 col-12">
                            <form class="subscribtion-form">
                                <input type="email" placeholder="{{ 'HOME.TypeEmail' | translate }}">
                                <button type="submit" class="btn btn-block btn-antim btn-subscribe">{{ 'HOME.Subscribe' | translate }}</button>
                            </form>
                        </div>
                    </div>
        </div>
    </footer>
