.redColor{
  color: red;
  font-size: 10px;
  visibility: hidden;
}

.btn-color {
  background: rgb(10, 165, 10);
  box-sizing: border-box;
  color: white;
  padding: 0px 16px;
  line-height: 43px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
}
