<div>
        <div class="row">
          <app-dashbored-navbar></app-dashbored-navbar>

            <aside class="left-sidebar col-lg-4">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <app-sidebar></app-sidebar>
                </div>
                <!-- End Sidebar scroll-->
            </aside>
                <div class="page-wraper-right row">
                    <app-setting></app-setting>
                </div>



        <div class="page-wraper-right full-width">
                <div class="mat-card p-1 col-lg-11 mt-5">
                <div class="mat-card row welcome-card inner p-0 m-1">
                        <img class="col-lg-2 col-4" src="assets/images/bookWithMen 2.svg">
                        <div class="col-lg-10 col-8 px-0">
                            <p class="grey-text-color pt-3 mt-4">
                                {{ 'CreateOrder.CreateOrderDesc' | translate }}
                                </p>
                        </div>
                </div>

                        <mat-horizontal-stepper linear #stepper class="mt-5">
                          <mat-step [stepControl]="firstFormGroup" completed="false">
                            <form [formGroup]="firstFormGroup">
                              <ng-template matStepLabel>
                                  <img src="assets/images/add-product.svg">
                                  <p class="font-size-13 mt-2"> {{ 'CreateOrder.AddProduct' | translate }} </p>
                              </ng-template>
                              <div class="row " style="width: 100%;">
                                <h3 class="mb-4 pl-2 pr-2 mt-4">{{ 'CreateOrder.EnterproductDetail(s)' | translate }}  </h3>
                              </div>
                            <div class="row" style="width: 100%;">
                              <div class="form-group text-left col-lg-12  " >
                                <label for="name" class="font-bold mt-2">{{ 'Requests.RequestName' | translate }}</label>
                                <input formControlName="Name" class="form-control form-control-lg" placeholder="{{ 'CreateOrder.EnterRequestNamehere' | translate }}"  type="text" [(ngModel)]="requestName" required>
                                <div *ngIf="firstFormGroup.controls['Name'].touched && firstFormGroup.controls['Name'].hasError('required')" class="error-msg alert alert-danger text-left">{{ 'CreateOrder.RequestNamerequired' | translate }}</div>
                                <div *ngIf="firstFormGroup.controls['Name'].touched && firstFormGroup.controls['Name'].hasError('minlength')" class="error-msg alert alert-danger text-left">{{ 'CreateOrder.RequestNameValidation' | translate }}</div>
                              </div>
                            </div>

                            <div class="row" style="width: 100%;" *ngFor="let product of userPoductList; let i = index;" >
                              <a class="close-icon" (click)="removeItems(i)"><img src="assets/images/close.svg"></a>
                              <div class="form-group text-left col-lg-9"   >
                                  <label  class="font-bold mt-2">{{ 'Requests.ProductLink' | translate }}</label>
                                  <input  class="form-control form-control-lg" placeholder="{{ 'CreateOrder.Enterproductlinkhere' | translate }}" type="text" [(ngModel)]="product.productUrl"  [ngModelOptions]="{standalone: true}" >
                              </div>
                              <div class="form-group text-left col-lg-3"   >
                                  <label  class="font-bold mt-2">{{ 'Requests.ProductPrice' | translate }}</label>
                                  <input  class="form-control form-control-lg" placeholder="{{ 'CreateOrder.Enterpricehere' | translate }}"  type="number" digitOnly [(ngModel)]="product.amount" [ngModelOptions]="{standalone: true}" (focusout)="onFocusoutMethod()" >
                              </div>
                            </div>
                            <div class="row mt-2 mb-4" style="width: 100%;">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                              <button class=" btn btn-block btn-outline-primary more-item-button mt-4" (click)="addMoreItems()" >
                                <svg width="21" height="22" class="mx-2" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 21.5217C15.5228 21.5217 20 16.8499 20 11.0869C20 5.32391 15.5228 0.6521 10 0.6521C4.47715 0.6521 0 5.32391 0 11.0869C0 16.8499 4.47715 21.5217 10 21.5217Z" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10 6.91309V15.2609" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M6 11.0869H14" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                                 {{ 'CreateOrder.MoreItem' | translate }}
                            </button>
                            </div>
                            </div>

                            <div class="mt-3 row " style="width: 100%;">
                                    <div class=" col-lg-7" >
                                        <h3  class="mt-3">{{ 'CreateOrder.TotalPriceOfProducts' | translate }}  </h3>
                                        <input class="form-control form-control-lg"  value="{{totalPrice}}" readonly>
                                    </div>
                                  </div>

                               <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-3" style="width: 100%;">
                                     <div class="form-group col-lg-3">
                                        <button mat-button (click)="nextStep()" [disabled]="!firstFormGroup.valid" class="btn btn-info btn-lg btn-block btn-purple ">{{ 'CreateOrder.Next' | translate }} </button>
                                      </div>
                                 </div>

                            </form>
                            <div class="alert mt-3 alert-warning row " id="move-icon" role="alert">
                              <p class= "mb-0">
                                  <i class="mx-1 fa fa-exclamation-circle"></i>
                                <b>{{ 'CreateOrder.Note' | translate }}  : </b>{{ 'CreateOrder.CreateOrderNote' | translate }}
                              </p>
                          </div>
                          </mat-step>
                                <mat-step [stepControl]="secondFormGroup">

                                  <form [formGroup]="secondFormGroup" class="Payment-Details-form">
                                    <ng-template matStepLabel>
                                        <img src="assets/images/Payment-Details.svg">
                                        <p class="font-size-13 mt-2">{{ 'CreateOrder.PaymentDetails' | translate }} </p>
                                    </ng-template>
                                    <div class="row mt-4">
                                    <div class="col-lg-6">
                                        <label for="Installment" class="font-bold mt-2">{{ 'CreateOrder.SelectInstallmentPeroid' | translate }} </label>
                                        <select formControlName="firstCtrl" matNativeControl required class="form-control custom-select form-control-lg mt-3" (change)="onChange($event.target.value)">
                                          <option value="" selected>{{ 'CreateOrder.PleaseSelectInstallmentPeriod' | translate }}   </option>
                                          <option value="3-Months" >{{ 'CreateOrder.3 Months' | translate }} </option>
                                          <option  value="6-Months">{{ 'CreateOrder.6 Months' | translate }} </option>
                                          <option *ngIf="showOptions" value="9-Months">{{ 'CreateOrder.9 Months' | translate }}</option>
                                          <option *ngIf="showOptions" value="12-Months">{{ 'CreateOrder.12 Months' | translate }}</option>
                                        </select>
                                        <svg class="arrow" style="top: 3.8em !important;" fill="none" height="14" viewBox="0 0 14 12" width="10" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-pkd-c13="" d="M1 1.2113L7 10.7606L13 1.2113" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="amount" class="font-bold mt-2">{{ 'CreateOrder.InstallmentAmountperMonth' | translate }} </label>
                                        <input placeholder="E.g. 1200 SAR" class="form-control form-control-lg" formControlName="secondCtrl" type="number" digitOnly [(ngModel)]="monthlyPrice" value= "{{monthlyPrice}}" required readonly style="height: 53px;">
                                    </div>
                                </div>
                                <div class="alert mt-5 alert-warning row " id="move-icon" role="alert">
                                  <p class= "mb-0">
                                      <i class="mx-1 fa fa-exclamation-circle"></i>
                                      {{ 'CreateOrder.Theinformationselected' | translate }}
                                    </p>
                              </div>
                                    <!-- <p class="my-5 mb-0 grey-text-color">
                                        </p> -->
                                    <div>
                                    <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                            <div class="form-group col-lg-4">
                                                    <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious >{{ 'SignUp.back' | translate }}</button>
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  mat-button matStepperNext [disabled]="!disabledSubmitButtonSecond">{{ 'CreateOrder.Next' | translate }}</button>
                                            </div>
                                    </div>
                                    </div>
                                  </form>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                            <img src="assets/images/confirm.svg">
                                            <p class="font-size-13 mt-2">{{ 'CreateOrder.Confirm' | translate }}</p>
                                    </ng-template>
                                    <br/>

                                    <label class="container col-lg-10 pt-2 grey-text-color my-5">{{ 'CreateOrder.IagreeRequstName' | translate }} <b>"{{requestName}}"</b> {{ 'CreateOrder.showingRequestScreen' | translate }}
                                          <input type="checkbox" (change)="changeCheck($event)">
                                          <span class="checkmark"></span>
                                        </label>
                                  <div>


                                        <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                                <div class="form-group col-lg-3">
                                                        <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious>{{ 'SignUp.back' | translate }}</button>
                                                </div>

                                                <div class="form-group col-lg-3">
                                                    <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  [disabled]="!disabledAgreement" mat-button matStepperNext>{{ 'CreateOrder.AgreeProceed' | translate }}
                                                        </button>
                                                </div>
                                        </div>
                                  </div>
                                  <div class="alert mt-3 alert-warning row" id="confirm-icon" role="alert">
                                    <p class= "mb-0">
                                      <i class="mx-1 fa fa-exclamation-circle"></i>
                                      <b>{{ 'CreateOrder.Note' | translate }}  : </b>{{ 'CreateOrder.Dear' | translate }} {{currentUser?.firstName}} {{currentUser?.lastName}} {{ 'CreateOrder.PleaseBoteCancel' | translate }}
                                    </p>
                                  </div>
                                </mat-step>
                                <mat-step [stepControl]="lastFormGroup">
                                    <ng-template matStepLabel>
                                            <img src="assets/images/summary.svg">
                                            <p class="font-size-13 mt-2">{{ 'CreateOrder.Summary' | translate }}</p>
                                    </ng-template>
                                    <h3 class="mb-4 pr-4 mt-5">{{ 'CreateOrder.UndertakingPurchase' | translate }}</h3>
                                    <form [formGroup]="lastFormGroup" class="Payment-Details-form">
                                            <mat-form-field>
                                                <label for="numberOfProduct" class="font-bold mt-2">{{ 'CreateOrder.Numberofproduct' | translate }}  </label>
                                                <input matInput class="form-control form-control-lg" formControlName="numberOfProduct" value="{{totalProducts}} product" readonly>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <label for="total" class="font-bold mt-2">{{ 'CreateOrder.TotalPriceOfProduct' | translate }} :</label>
                                                <input matInput class="form-control form-control-lg" formControlName="TotalPrice" value="{{totalPrice}}" readonly>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <label for="InstallmentPeriod" class="font-bold mt-2">{{ 'Requests.InstallmentPeriod' | translate }}</label>
                                                <input matInput class="form-control form-control-lg" formControlName="InstallmentPeriod" value="{{installmentPeriod}}" readonly>
                                            </mat-form-field>

                                            <mat-form-field>
                                                    <label for="InstallmentPerMonth" class="font-bold mt-2">{{ 'CreateOrder.InstallmentAmountperMonth' | translate }} </label>
                                                    <input matInput class="form-control form-control-lg" formControlName="InstallmentPerMonth" value="{{monthlyPrice}}" readonly>
                                            </mat-form-field>

                                            <mat-form-field>
                                                    <label for="FinalProduct" class="font-bold mt-2">{{ 'CreateOrder.TotalPayableProductPrice' | translate }}</label>
                                                    <input matInput class="form-control form-control-lg" formControlName="FinalProduct" value="{{priceWithDelivery}}" [(ngModel)]="priceWithDelivery" readonly>
                                            </mat-form-field>
                                            <!-- <p class="my-5 grey-text-color">
                                              <i class="fa fa-exclamation-circle"></i>
                                                Selecting this option will require you to pay additional delivery fees of 30 SR.
                                            </p> -->
                                            <div class="row mt-5">
                                              <!-- <div class="col-lg-6 pr-4"> -->
                                                <label class="container1 col-lg-6 pr-4">{{ 'CreateOrder.DeliverproductstoMyAddress' | translate }}
                                                <input type="radio" name="gender" value="deliver" (click)="ShowAlert()" >
                                                <span class="checkmark1"></span>
                                                </label>
                                               <!-- </div> -->
                                                <!-- <div class="col-lg-6 pr-4"> -->
                                                <label class="container1 col-lg-6 pr-4">{{ 'CreateOrder.PickUptheProducts' | translate }}
                                                  <input type="radio" name="gender" value="self" (click)="HideAlert()" >
                                                  <span class="checkmark1"></span>
                                                  </label>
                                              <!-- </div> -->
                                            </div>
                                            <div class="alert mt-5 mb-2 alert-warning" role="alert" *ngIf="showAlert">
                                              <p class="mb-0 grey-text-color">
                                              <i class="fa fa-exclamation-circle"></i>
                                              {{ 'CreateOrder.SelectingadditionalDelivery' | translate }}{{deliveryFee}}{{ 'Dashbored.SAR' | translate }}

                                            </p>
                                          </div>

                                            <div>
                                            <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                                    <div class="form-group col-lg-3">
                                                            <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious> {{ 'SignUp.back' | translate }}</button>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <button class="btn btn-info btn-lg btn-block btn-black mt-2" [disabled]="!disableButton" (click)="saveAsDraft(content)"> {{ 'CreateOrder.SaveasDraft' | translate }}</button>
                                                </div>
                                                    <div class="form-group col-lg-3">
                                                        <button class="btn btn-info btn-lg btn-block btn-purple mt-2" [disabled]="!disableButton" mat-button matStepperNext (click)="saveRequest(content3)">{{ 'CreateOrder.SendRequest' | translate }}</button>

                                                    </div>

                                            </div>
                                            </div>
                                          </form>
                            </mat-step>
                              </mat-horizontal-stepper>
                              <ng-template #content3 let-modal>
                                  <div class="modal-header">
                                      <h4 class="modal-title">{{ 'CreateOrder.RequestSent' | translate }} </h4>
                                      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p>
                                          {{ 'CreateOrder.Thankyou' | translate }}
                                             {{currentUser?.firstName}},<br/>
                                             {{ 'CreateOrder.ThankyourequestSuccessfully' | translate }}


                                      </p>
                                      <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" [routerLink]="[ '/requests-customer' ]" (click)="closeModal()">{{ 'CreateOrder.OK' | translate }}</button></div>

                                    </div>
                                  </ng-template>
                                  <ng-template #content let-modal>
                                      <div class="modal-header">
                                          <h4 class="modal-title">{{ 'CreateOrder.RequestSaved' | translate }} </h4>
                                          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                    <div class="modal-body">
                                      <p>
                                          {{ 'CreateOrder.Thankyou' | translate }}  {{currentUser?.firstName}},<br/>
                                          {{'CreateOrder.YourRequestSavedAsDraft' | translate }}


                                      </p>
                                      <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" [routerLink]="[ '/requests-customer' ]" (click)="closeModal()">{{'CreateOrder.OK' | translate }}</button></div>

                                    </div>
                                  </ng-template>
                </div>
            </div>
            <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
                                                    color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
                                                    <p style="color: white; margin-top:50px;font-size: 26px;" >{{'SignUp.Loading' | translate }}  </p>
                                                    </ngx-spinner>
        </div>

        <ng-template #content4 let-modal>
                <div class="modal-body py-5">
                  <p class="my-4">
                      {{ 'Setting.DeleteAccountMsg' | translate }}


                  </p>
                  <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" (click)="modal.close('Close click')"> {{ 'Setting.CLOSE' | translate }}</button></div>

                </div>
              </ng-template>


              <ng-template #content5 let-modal>
                    <div class="modal-body py-5">
                      <p class="my-4">
                          {{ 'CreateOrder.CnnotDeactivateMsg' | translate }}

                      </p>
                      <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" [routerLink]="[ '/requests-customer']" (click)="modal.close('Close click')"> {{ 'Setting.CLOSE' | translate }}</button></div>

                    </div>
                  </ng-template>

