<div>
        <div class="row">
                <nav id="navbar-app" class="navbar navbar-expand-lg navbar-light container py-4 mb-auto sticky-nav" ngStickyNav stickyClass="sticky-fixed-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" [routerLink]="[ '/' ]">
                                <img src="assets/images/logo-white.svg" alt="antim">

                        </a>
                </nav>
            <aside class="left-sidebar col-lg-4">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <app-sidebar></app-sidebar>
                </div>
                <!-- End Sidebar scroll-->
            </aside>
                <div class="page-wraper-right row">
                    <app-setting></app-setting>
                </div>



        <div class="page-wraper-right full-width">
                <div class="mat-card p-1 col-lg-11 mt-5">
                <div class="mat-card row welcome-card inner p-0 m-1">
                        <img class="col-lg-2 col-4" src="assets/images/bookWithMen 2.svg">
                        <div class="col-lg-10 col-8 px-0">
                            <p class="grey-text-color mt-4">Well, it is very easy to make a request, just follow the below step and we will<br/> take care of it!
                                </p>
                        </div>
                </div>

                        <mat-horizontal-stepper linear #stepper class="mt-5">
                          <mat-step [stepControl]="firstFormGroup">
                            <form [formGroup]="firstFormGroup">
                              <ng-template matStepLabel>
                                  <img src="assets/images/add-product.svg">
                                  <p class="font-size-13 mt-2">Add Product</p>
                              </ng-template>
                              <div class="my-4">
                                <h3 class="mb-4 mt-4">Enter product link(s)</h3>
                              </div>
                            <div class="row" style="width: 100%;">
                              <div class="form-group text-left col-lg-12  " >
                                <label for="name" class="font-bold mt-2">Request Name</label>
                                <input formControlName="Name" class="form-control form-control-lg" placeholder="Enter Request name here …"  type="text" [(ngModel)]="requestName">
                                <div *ngIf="firstFormGroup.controls['Name'].touched && firstFormGroup.controls['Name'].hasError('required')" class="error-msg alert alert-danger text-left">Request Name is required.</div>
                              </div>
                            </div>

                            <div class="row" style="width: 100%;" *ngFor="let product of userPoductList; let i = index;" >
                              <a class="close-icon" (click)="removeItems(i)"><img src="assets/images/close.svg"></a>
                              <div class="form-group text-left col-lg-9"   >
                                  <label  class="font-bold mt-2">Product Link</label>
                                  <input  class="form-control form-control-lg" placeholder="Enter product link here …" type="text" [(ngModel)]="product.ProductUrl"  [ngModelOptions]="{standalone: true}" >
                              </div>
                              <div class="form-group text-left col-lg-3"   >
                                  <label  class="font-bold mt-2">Price : (in SAR)</label>
                                  <input  class="form-control form-control-lg" placeholder="Enter price here..."  type="number" digitOnly [(ngModel)]="product.Price" [ngModelOptions]="{standalone: true}"
                                  oninput="javascript: if (this.value >= 200 && this.value <= 10000) { document.getElementById('phonenumber2').style.visibility = 'hidden'; }
                                  else { document.getElementById('phonenumber2').style.visibility = 'visible'; }" >
                                  <span class="redColor" id="phonenumber2"> Price must be greater than 200 and less than 10000.</span>
                              </div>
                            </div>

                          <div class="row" style="width: 100%;">
                            <div class="form-group col-lg-6" *ngIf="showTotalPrice">
                                <label  class="font-bold mt-2">Total Price :</label>
                                <input  class="form-control form-control-lg"   type="number"  value="{{totalPrice}}" readonly>
                            </div>
                          </div>
                               <button class="btn btn-block btn-outline-primary more-item-button mt-4" (click)="addMoreItems()" *ngIf="!addMoreItem">
                                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10 21.5217C15.5228 21.5217 20 16.8499 20 11.0869C20 5.32391 15.5228 0.6521 10 0.6521C4.47715 0.6521 0 5.32391 0 11.0869C0 16.8499 4.47715 21.5217 10 21.5217Z" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M10 6.91309V15.2609" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M6 11.0869H14" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                       </svg>

                                  More Item</button>

                               <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-3">
                                     <div class="form-group col-lg-3">
                                          <button (click)="calculateTotalPrice()" class="btn btn-color btn-block ">Total Price</button>
                                     </div>
                                     <div class="form-group col-lg-3">
                                        <!-- <button mat-button matStepperNext (click)="nextStep()"  class="btn btn-info btn-lg btn-block btn-purple ">Next</button> -->
                                        <button mat-button matStepperNext (click)="nextStep()" [disabled]="!disableFirstStep"  class="btn btn-info btn-lg btn-block btn-purple ">Next</button>
                                      </div>
                              </div>
                            </form>
                          </mat-step>
                                <mat-step [stepControl]="secondFormGroup">

                                  <form [formGroup]="secondFormGroup" class="Payment-Details-form">
                                    <ng-template matStepLabel>
                                        <img src="assets/images/Payment-Details.svg">
                                        <p class="font-size-13 mt-2">Payment Details</p>
                                    </ng-template>
                                    <div class="row mt-4">
                                    <div class="col-lg-6">
                                        <label for="Installment" class="font-bold mt-2">Select Installment Peroid</label>
                                        <select formControlName="firstCtrl" matNativeControl required class="form-control form-control-lg mt-3" (change)="onChange($event.target.value)">
                                          <option value="6-Months-ex" selected>Ex: 6 Months</option>
                                          <option value="3-Months" >3 Months</option>
                                          <option  value="6-Months">6 Months</option>
                                          <option *ngIf="showOptions" value="9-Months">9 Months</option>
                                          <option *ngIf="showOptions" value="12-Months">12 Months</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="amount" class="font-bold mt-2">Installment Amount per Month </label>
                                        <input placeholder="E.g. 1200 SAR" class="form-control form-control-lg" formControlName="secondCtrl" type="number" digitOnly [(ngModel)]="monthlyPrice" value= "{{monthlyPrice}}" required readonly style="height: 53px;">
                                    </div>
                                </div>
                                    <p class="my-5 grey-text-color">
                                        <span class="mr-1">
                                            <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.0899 15 14 12.0899 14 8.5C14 4.91015 11.0899 2 7.5 2C3.91015 2 1 4.91015 1 8.5C1 12.0899 3.91015 15 7.5 15Z" stroke="#607AE6"/>
                                                <path d="M7.5 11.1V8.5" stroke="#607AE6"/>
                                             </svg>
                                        </span>

                                        The information selected at the top is subject to change based on your credit record and your premitted amount of SIMAH. We will call you if any change is made within a period not exceeding one hour.
                                        </p>
                                    <div>
                                    <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                            <div class="form-group col-lg-4">
                                                    <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious (click)="backButton()">Back</button>
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  mat-button matStepperNext [disabled]="!disabledSubmitButtonSecond">Next</button>
                                            </div>
                                    </div>
                                    </div>
                                  </form>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                            <img src="assets/images/confirm.svg">
                                            <p class="font-size-13 mt-2">Confirm</p>
                                    </ng-template>
                                    <br/>
                                    <!-- <p class="my-5 grey-text-color">
                                        <input type="checkbox" id="box-1" (change)="changeCheck($event)">
                                            <span class="mr-1">
                                                <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.0899 15 14 12.0899 14 8.5C14 4.91015 11.0899 2 7.5 2C3.91015 2 1 4.91015 1 8.5C1 12.0899 3.91015 15 7.5 15Z" stroke="#607AE6"/>
                                                    <path d="M7.5 11.1V8.5" stroke="#607AE6"/>
                                                 </svg>
                                            </span>

                                            I agree on purchasing the request #1032 showing in the request screen.
                                            <br/>and with the price showing in the request screen. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,<br/> but also the leap into electronic typesetting, remaining essentially unchanged.
                                        </p> -->
                                        <div class="col-lg-10 grey-text-color my-5">
                                            <input type="checkbox" id="box-2" (change)="changeCheck($event)">
                                            <!-- <label for="box-2">I agree on intime <a [routerLink]="['/terms-conditions']">Terms & Condtions</a></label> -->
                                            <label style="font-size: 16px;"for="box-2"> I agree on purchasing the request #1032 showing in the request screen.
                                                <br/>and with the price showing in the request screen.
                                                </label>
                                        </div>

                                  <div>


                                        <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                                <div class="form-group col-lg-3">
                                                        <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious>Back</button>
                                                </div>

                                                <div class="form-group col-lg-3">
                                                    <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  [disabled]="disabledAgreement" mat-button matStepperNext>Agree & Prceed
                                                        </button>
                                                </div>
                                        </div>
                                  </div>
                                </mat-step>
                                <mat-step [stepControl]="lastFormGroup">
                                    <ng-template matStepLabel>
                                            <img src="assets/images/summary.svg">
                                            <p class="font-size-13 mt-2">Summary</p>
                                    </ng-template>
                                    <h3 class="mb-4 mt-5">Undertaking to Purchase</h3>
                                    <form [formGroup]="lastFormGroup" class="Payment-Details-form">
                                            <mat-form-field>
                                                <label for="numberOfProduct" class="font-bold mt-2">Number of product</label>
                                                <input matInput class="form-control form-control-lg" formControlName="numberOfProduct" value="{{totalProducts}} product">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <label for="total" class="font-bold mt-2"> Totql price of products:</label>
                                                <input matInput class="form-control form-control-lg" formControlName="TotalPrice" value="{{totalPrice}}">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <label for="InstallmentPeriod" class="font-bold mt-2">Installment Period</label>
                                                <input matInput class="form-control form-control-lg" formControlName="InstallmentPeriod" value="{{installmentPeriod}}">
                                            </mat-form-field>

                                            <mat-form-field>
                                                    <label for="InstallmentPerMonth" class="font-bold mt-2">Installment amount per month</label>
                                                    <input matInput class="form-control form-control-lg" formControlName="InstallmentPerMonth" value="{{monthlyPrice}}">
                                            </mat-form-field>

                                            <mat-form-field>
                                                    <label for="FinalProduct" class="font-bold mt-2">Final product price (with profit)</label>
                                                    <input matInput class="form-control form-control-lg" formControlName="FinalProduct" value="{{totalPriceWithProfit}}">
                                            </mat-form-field>
                                            <p class="my-5 grey-text-color">
                                                <span class="mr-1">
                                                    <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.0899 15 14 12.0899 14 8.5C14 4.91015 11.0899 2 7.5 2C3.91015 2 1 4.91015 1 8.5C1 12.0899 3.91015 15 7.5 15Z" stroke="#607AE6"/>
                                                        <path d="M7.5 11.1V8.5" stroke="#607AE6"/>
                                                     </svg>
                                                </span>

                                                Selecting this option will require you to pay additional delivery fees of 30 SR.
                                            </p>
                                            <div>
                                            <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                                    <div class="form-group col-lg-3">
                                                            <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious>Back</button>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <button class="btn btn-info btn-lg btn-block btn-black mt-2" (click)="saveAsDraft(content)">Save as Draft</button>
                                                </div>
                                                    <div class="form-group col-lg-3">
                                                        <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  mat-button matStepperNext (click)="saveRequest(content3)">Send Request</button>

                                                    </div>
                                                    <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
                                                    color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
                                                    <p style="color: white; margin-top:50px;font-size: 26px;" > Loading... </p>
                                                    </ngx-spinner>
                                            </div>
                                            </div>
                                          </form>
                            </mat-step>
                              </mat-horizontal-stepper>
                              <ng-template #content3 let-modal>
                                    <div class="modal-body">
                                      <p>
                                            Thank you {{currentUser?.firstName}},<br/>
                                             Your request has been Successfully sent, and will be verified if you are qualified for funding and will be responded to within 30 minutes

                                      </p>
                                      <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" [routerLink]="[ '/requests-customer' ]" (click)="modal.close('Close click')">See All Requests</button></div>

                                    </div>
                                  </ng-template>
                                  <ng-template #content let-modal>
                                    <div class="modal-body">
                                      <p>
                                            Thank you {{currentUser?.firstName}},<br/>
                                             Your request has been Saved as Draft.

                                      </p>
                                      <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" [routerLink]="[ '/requests-customer' ]" (click)="modal.close('Close click')">See All Requests</button></div>

                                    </div>
                                  </ng-template>
                </div>
            </div>
        </div>

        <ng-template #content4 let-modal>
                <div class="modal-body py-5">
                  <p class="my-4">
                        If you want to delete you account, you will not be able to log in again, and you must register again to request funding.

                  </p>
                  <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" (click)="modal.close('Close click')">CLOSE</button></div>

                </div>
              </ng-template>


              <ng-template #content5 let-modal>
                    <div class="modal-body py-5">
                      <p class="my-4">
                            Sorry, you can't deactivate your account, because there are ongoing transactions.
                      </p>
                      <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" [routerLink]="[ '/requests-customer']" (click)="modal.close('Close click')">CLOSE</button></div>

                    </div>
                  </ng-template>

