.redColor{
  color: red;
  font-size: 10px;
  visibility: hidden;
}
#direction{
  flex-direction: row !important;
}
#direction1{
  flex-direction: row !important;
}
#code {
  direction: ltr !important;
}
