<div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col col-sm-12 col-md-6 col-lg-5 col-xl-3 background-box px-5 py-1 pb-4 text-center mt-0">
            <div *ngIf="!showSelected">
                <h2 class="mt-5">Sign Up</h2>
                <p class="grey-text-color mt-3 mb-4">Very Easy ans straight forward steps to register.
                <br/> Just follow the lead</p>
            </div>
            <form class="form-log-in mt-4 form-antim" [formGroup]="SigUpForm">
                <div class="first-step row" *ngIf="!showSelected  && !lastStep">
                <div class="col-lg-2">
                    <h5 class="vertical-text mt-4">what about you ?</h5>
                </div>
                <div class="form-group text-left col-lg-4 col-6 text-center">
                    <div class="select-options-radio" [ngClass]="{'active': id === 1 }" id="1" (click)="addClass(id=1)">
                        <label for="Lender"></label>
                        <input name="usertype" id="Lender" type="radio" value="Lender">
                        <img src="assets/images/lender.svg" alt="antim">
                        <p class="grey-text-color mt-4">Lender</p>
                    </div>
                </div>
                <div class="form-group text-left col-lg-4 col-6 text-center">
                    <div class="select-options-radio" [ngClass]="{'active': id === 2 }" id="2" (click)="addClass(id=2)">
                            <label for="Borrower"></label>
                            <input name="usertype" id="Borrower" type="radio" value="Borrower">
                            <img src="assets/images/borrower-2.svg" alt="antim">
                            <p class="grey-text-color mt-4">Borrower</p>
                    </div>
                </div>
                <div class="form-group mt-1 mb-4 col-lg-12 d-flex justify-content-center">
                    <button class="btn btn-lg btn-block btn-grey mt-3 mb-4 col-lg-3 col-12 " [ngClass]="(disabledNextButton)?' ':'purple'"  [disabled]="disabledNextButton" (click)="Nextstep()">Next</button>
                </div>
                </div>

                <div *ngIf="showSelected && !sheckMobileStep" class="px-4">
                        <img src="assets/images/borrower.svg" alt="antim" class="mb-2">
                        <p class="grey-text-color mt-2 mb-4">Alright Borrower, Fill the below please</p>
                        <div class="row mt-3">
                        <div class="form-group text-left col-lg-6">
                                <label for="name">First Name<span class="red-color"> *</span></label>
                                <input formControlName="FirstName" class="form-control form-control-lg" placeholder="user name type here..." type="text">
                                <div *ngIf="SigUpForm.controls['FirstName'].touched && !SigUpForm.controls['FirstName'].valid" class="error-msg alert alert-danger text-left">First Name required</div>

                            </div>
                            <div class="form-group text-left col-lg-6">
                                <label for="NID">National ID No/Iqama<span class="red-color"> *</span></label>
                                <input formControlName="NID" class="form-control form-control-lg" placeholder="Ex : 0000" type="text">
                                <div *ngIf="SigUpForm.controls['NID'].touched && !SigUpForm.controls['NID'].valid" class="error-msg alert alert-danger text-left">National ID is required</div>

        
                            </div>
                            <div class="form-group text-left col-lg-12">
                                    <label for="email">Email<span class="red-color"> *</span></label>
                                    <input formControlName="email" class="form-control form-control-lg" placeholder="user name type here..." type="email">
                                    <div *ngIf="SigUpForm.controls['email'].touched && !SigUpForm.controls['email'].valid" class="error-msg alert alert-danger text-left">Email is required</div>

                             </div>
                             <div class="form-group text-left col-lg-12">
                                    <label for="phone">Phone No<span class="red-color"> *</span></label>
                                    <input  formControlName="phone" class="form-control form-control-lg" placeholder="Ex : 011 XXX XXXX" type="number">
                                    <div *ngIf="SigUpForm.controls['phone'].touched && !SigUpForm.controls['phone'].valid" class="error-msg alert alert-danger text-left">Phone is required</div>            
                             </div>
                             <div class="row justify-content-center align-items-center">
                             <div class="col-lg-8 col-11 text-center">                              
                                    <input type="checkbox" id="box-1">
                                    <label for="box-1">I agree on my Terms & Condtions</label>
                             </div>
                             <div class="col-lg-8 col-11 mt-4 text-center">                                      
                                    <input type="checkbox" id="box-2" checked>
                                    <label for="box-2">I agree on intime Terms & Condtions</label>
                             </div>
                             <div class="col-lg-11 mt-3 row justify-content-center align-items-center pb-4">     
                             <div class="form-group col-lg-6">
                                    <button class="btn btn-info btn-lg btn-block btn-black mt-2" (click)="PrevStep()">back</button>
                            </div>
                            <div class="form-group col-lg-4">
                                <button class="btn btn-info btn-lg btn-block btn-purple mt-2" (click)="thirdStep()" [disabled]="disabledSubmitButton">Sign Up</button>
                            </div>
                            </div>
                        </div>
                        </div>
               </div>


               <div *ngIf="showSelected && sheckMobileStep && !lastStep">
                   <a class="close-icon" (click)="closeBack()"><img src="assets/images/close.svg"></a>
                    <img src="assets/images/mobile.svg" alt="antim" class="mb-2 mt-5">
                    <p class="mt-2 mb-4 text-left">Well!<br/>
                            just to be sure, Please enter your verification code to verify your <br/>
                            mobile number.</p>
                    <div class="row mt-3 justify-content-center align-items-center phone-number-code">
                        <div class="form-group text-left col-lg-2 col-3 text-center">
                            <input class="form-control form-control-lg" placeholder="0" type="number">
                        </div>
                        <div class="form-group text-left col-lg-2 col-3 text-center">
                            <input class="form-control form-control-lg" placeholder="0" type="number">
                        </div>
                        <div class="form-group text-left col-lg-2 col-3 text-center">
                            <input class="form-control form-control-lg" placeholder="0" type="number">
                        </div>
                        <div class="form-group text-left col-lg-2 col-3 text-center">
                            <input class="form-control form-control-lg" placeholder="0" type="number">
                        </div>
                        <p class="mt-3 col-lg-12">The code will expire : 4:36</p>
                         <div class="col-lg-11 mt-3 row justify-content-center align-items-center">     
                         <div class="form-group col-lg-6">
                            <button class="btn btn-info btn-lg btn-block btn-black mt-2">Resend</button>
                        </div>
                        <div class="form-group col-lg-4">
                            <button class="btn btn-info btn-lg btn-block btn-purple mt-2" (click)="lastStepd()">Verify</button>
                        </div>
                    </div>
                    </div>
           </div>


           <div *ngIf="lastStep">
                <a class="close-icon" (click)="closeBackLast()"><img src="assets/images/close.svg"></a>
                 <img src="assets/images/borrower-lg.svg" alt="antim" class="mb-2 mt-5">
                 <p class="grey-text-color mt-4 mb-4">The last thing, Please approve the below</p>

                 <div class="row mt-3 justify-content-center align-items-center phone-number-code pb-5">
                        <div class="col-lg-7 col-11 text-center mt-3">                              
                                <input type="checkbox" id="box-1">
                                <label for="box-1">I agree on my Terms & Condtions</label>
                         </div>
                         <div class="col-lg-7 col-11 mt-4 text-center mb-5">                                      
                                <input type="checkbox" id="box-2" checked>
                                <label for="box-2">I agree on intime Terms & Condtions</label>
                         </div>
                      <div class="col-lg-11 mt-3 row justify-content-center align-items-center pb-4">     
                      <div class="form-group col-lg-9 ">
                         <button class="btn btn-info btn-lg btn-block btn-purple mt-2">Sign Up</button>
                     </div>
                 </div>
                 </div>
        </div>

            </form>
        </div>
    </div>
</div>