<div class="container header-inner">
        <div class="row mb-3">
            <div class="col-lg-12 d-flex justify-content-center flex-column text-center mt-min-100">
                <img src="assets/images/image-antim.svg" class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s">
                <h1 class="wow fadeInUp mt-4" data-wow-duration=".8s" data-wow-delay="0.5s">{{ 'HOME.who' | translate }}</h1>
                <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s">{{ 'WHOWEARE.whoDescription' | translate }}</p>
            </div>
        </div>
 </div>

 <div class="container pb-3">
     <div class="row py-5">
         <div class="col-lg-6 text-center">
            <svg width="108" height="109" viewBox="0 0 108 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0509 21.4003C24.4747 1.65994 90.9444 8.59544 66.9393 69.4567C42.9341 130.318 7.62718 41.1406 16.0509 21.4003Z" fill="#39A4E9"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3996 18.2053C62.6559 27.3185 98.6326 73.1854 35.508 90.6697C-27.6165 108.154 38.1433 9.09213 50.3996 18.2053Z" fill="#5C20D2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7635 31.5357C41.3393 24.5311 98.3964 12.3499 86.4624 76.6666C74.5284 140.983 14.1877 38.5403 27.7635 31.5357Z" fill="black"/>
            </svg>
            <h2 class="col-lg-12 text-center font-purple font-bold mb-4 wow fadeInUp">{{ 'WHOWEARE.OurVision' | translate }}</h2>
         </div>
         <div class="col-lg-6 text-center mt-5">
             <p class="light-paragraph mt-5">{{ 'WHOWEARE.OurVisionDesc' | translate }}</p>
         </div>

     </div>
     
     <div class="row py-5">
            <div class="col-lg-6 text-center mt-5 order-lg-1 order-1">
                    <p class="light-paragraph mt-5">{{ 'WHOWEARE.OurMissionDesc' | translate }}</p>
                </div>
   
            <div class="col-lg-6 text-center order-lg-1 order-0">
                   <svg width="108" height="109" viewBox="0 0 108 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0509 21.4003C24.4747 1.65994 90.9444 8.59544 66.9393 69.4567C42.9341 130.318 7.62718 41.1406 16.0509 21.4003Z" fill="#39A4E9"/>
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3996 18.2053C62.6559 27.3185 98.6326 73.1854 35.508 90.6697C-27.6165 108.154 38.1433 9.09213 50.3996 18.2053Z" fill="#5C20D2"/>
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7635 31.5357C41.3393 24.5311 98.3964 12.3499 86.4624 76.6666C74.5284 140.983 14.1877 38.5403 27.7635 31.5357Z" fill="black"/>
                   </svg>
                   <h2 class="col-lg-12 text-center font-purple font-bold mb-4 wow fadeInUp">{{ 'WHOWEARE.OurMission' | translate }}</h2>
             </div>
     </div>

     <div class="row py-5 mb-5">
            <div class="col-lg-6 text-center">
               <svg width="108" height="109" viewBox="0 0 108 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0509 21.4003C24.4747 1.65994 90.9444 8.59544 66.9393 69.4567C42.9341 130.318 7.62718 41.1406 16.0509 21.4003Z" fill="#39A4E9"/>
                   <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3996 18.2053C62.6559 27.3185 98.6326 73.1854 35.508 90.6697C-27.6165 108.154 38.1433 9.09213 50.3996 18.2053Z" fill="#5C20D2"/>
                   <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7635 31.5357C41.3393 24.5311 98.3964 12.3499 86.4624 76.6666C74.5284 140.983 14.1877 38.5403 27.7635 31.5357Z" fill="black"/>
               </svg>
               <h2 class="col-lg-12 text-center font-purple font-bold mb-4 wow fadeInUp">{{ 'WHOWEARE.OurPromises' | translate }}</h2>
            </div>
            <div class="col-lg-6 text-center mt-5">
                <p class="light-paragraph mt-5">{{ 'WHOWEARE.OurPromisesDesc' | translate }}</p>
            </div>
   
        </div>
     
 </div>
<section class="bg-black-dark mt-5">
 <div class="container">
        <div class="row mb-5">
             <div class="pattern-up"></div>
            <div class="col-lg-5 py-4 d-flex justify-content-center flex-column text-center m-auto align-self-center" >
                <h2 class="mt-5 wow fadeInUp font-purple font-bold mb-5" data-wow-duration="0.6s" data-wow-delay="0.4s">{{ 'WHOWEARE.TheTeam' | translate }}</h2>
                <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s">{{ 'WHOWEARE.TheTeamDesc' | translate }}</p>
            </div>
            <div class="row col-lg-12 justify-content-center mt-5 mb-5">
            <div class="col-lg-4 col-12 text-center py-4 mb-5">
                <img src="assets/images/team.png">
                <p class="mt-3 my-0">{{ 'WHOWEARE.IsmaelAlAkhras' | translate }} </p>
                <div class="pb-4 blue-text">Co-Founder and COO</div>
            </div>
            <div class="col-lg-4 col-12 text-center py-4 mb-5">
                <img src="assets/images/team.png">
                <p class="mt-3 my-0">{{ 'WHOWEARE.BashayerAlSaqir' | translate }} </p>
                <div class="pb-4 blue-text">Founder and CEO</div>
             </div>
            </div>
            <div class="pattern-down"></div>

        </div>

    </div>
</section>
 <div class="container py-5">
        <div class="row my-3">
            <div class="col-lg-12 d-flex justify-content-center flex-column text-center my-5">
                <button type="button" class="btn btn-block btn-antim btn-rounded mx-auto py-3" (click)="btnClick();">{{ 'WHOWEARE.ReachUs' | translate }}</button>
            </div>
        </div>
    </div>

 <footer class="footer py-5 bg-black">
        <div class="container">
                <div class="row">
                        <div class="col col-lg-2 col-12">
                                <img src="{{userLang == 'english' ? 'assets/images/logo.svg' : 'assets/images/antim-logo-arabic.svg' }}" class="logo-img" alt="antim">
    
                        </div>
                        <div class="col col-lg-3 col-12">
                            <p class="copy-right pt-2">2019 .{{ 'HOME.AllRightsReserved' | translate }}
                                </p>
                        </div>
                        <div class="col col-lg-3 col-12">
                            <ul class="inline">
                                <li>
                                <a href="https://twitter.com/antim_app" target="_blank">
                                <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="HomeV2" transform="translate(-648.000000, -5987.000000)">
                                            <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                                <g id="Stacked-Group-4">
                                                    <g id="Group-8">
                                                        <rect id="Rectangle-Copy-3" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                        <g id="twitter" transform="translate(8.000000, 10.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                            <path d="M22,0.0102625429 C21.042385,0.68573995 19.9821079,1.20237179 18.86,1.54026254 C17.6263595,0.121800337 15.63837,-0.375623146 13.8820815,0.294715977 C12.125793,0.965055099 10.9748003,2.66056341 11,4.54026254 L11,5.54026254 C7.43066483,5.63281494 4.05202531,3.93223305 2,1.01026254 C2,1.01026254 -2,10.0102625 7,14.0102625 C4.94052756,15.4082289 2.48715691,16.1091919 0,16.0102625 C9,21.0102625 20,16.0102625 20,4.51026254 C19.9990791,4.23171618 19.9722975,3.95385694 19.92,3.68026254 C20.9406031,2.67375562 21.6608274,1.40297533 22,0.0102625429 Z" id="Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                </a>
                                </li>
                                <li>
                                    <a href="#">
    
                                <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="HomeV2" transform="translate(-705.000000, -5987.000000)">
                                            <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                                <g id="Stacked-Group-4">
                                                    <g id="Group-7" transform="translate(57.000000, 0.000000)">
                                                        <rect id="Rectangle-Copy-2" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                        <g id="instagram" transform="translate(9.000000, 9.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                            <rect id="Rectangle-path" x="0" y="0" width="20" height="20" rx="5"></rect>
                                                            <path d="M14,9.37 C14.2531224,11.0769716 13.3830258,12.7538445 11.8416265,13.5296738 C10.3002272,14.3055032 8.43504857,14.0053707 7.21483896,12.785161 C5.99462934,11.5649514 5.69449683,9.69977279 6.47032616,8.15837347 C7.24615548,6.61697416 8.92302841,5.74687756 10.63,6 C12.3729768,6.25846155 13.7415384,7.62702323 14,9.37 Z" id="Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="HomeV2" transform="translate(-762.000000, -5987.000000)">
                                                <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                                    <g id="Stacked-Group-4">
                                                        <g id="Group-6" transform="translate(114.000000, 0.000000)">
                                                            <rect id="Rectangle" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                            <g id="facebook" transform="translate(13.000000, 9.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                                <path d="M11,0 L8,0 C5.23857625,0 3,2.23857625 3,5 L3,8 L0,8 L0,12 L3,12 L3,20 L7,20 L7,12 L10,12 L11,8 L7,8 L7,5 C7,4.44771525 7.44771525,4 8,4 L11,4 L11,0 Z" id="Shape"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-lg-4 col-12">
                            <form class="subscribtion-form">
                                <input type="email" placeholder="{{ 'HOME.TypeEmail' | translate }}">
                                <button type="submit" class="btn btn-block btn-antim btn-subscribe">{{ 'HOME.Subscribe' | translate }}</button>
                            </form>
                        </div>
                    </div>
        </div>
    </footer>