
    <div class="container header-inner">
      <div class="row ">
          <div class="col-lg-12 d-flex justify-content-center flex-column text-center mt-min-100">
              <img src="assets/images/image-antim.svg" class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s" style="height: 161px;">
              <h1 class="wow fadeInUp mt-4" data-wow-duration=".8s" data-wow-delay="0.5s"  >{{ userLang === 'arabic' ? Who_We_Are.Section1.TitleAr : Who_We_Are.Section1.TitleEn }} </h1>
              <p class="wow fadeInUp text-black-bold" data-wow-duration=".8s" data-wow-delay="0.5s"  >{{ userLang === 'arabic' ? Who_We_Are.Section1.ContentAr : Who_We_Are.Section1.ContentEn }}
              </p>
          </div>
      </div>
</div>

<div class="container pb-3">
   <div class="row margin-top-ve pb-5">
       <div class="col-lg-6 text-center">
          <svg width="108" height="109" viewBox="0 0 108 109" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0509 21.4003C24.4747 1.65994 90.9444 8.59544 66.9393 69.4567C42.9341 130.318 7.62718 41.1406 16.0509 21.4003Z" fill="#39A4E9"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3996 18.2053C62.6559 27.3185 98.6326 73.1854 35.508 90.6697C-27.6165 108.154 38.1433 9.09213 50.3996 18.2053Z" fill="#5C20D2"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7635 31.5357C41.3393 24.5311 98.3964 12.3499 86.4624 76.6666C74.5284 140.983 14.1877 38.5403 27.7635 31.5357Z" fill="black"/>
          </svg>
          <h2 class="col-lg-12 text-center font-purple font-bold mb-4 wow fadeInUp" >{{ userLang === 'arabic' ? Who_We_Are.Section2.TitleAr : Who_We_Are.Section2.TitleEn }} </h2>
       </div>
       <div class="col-lg-6 text-center">
           <p class="mt-4 text-black-bold"  >{{ userLang === 'arabic' ? Who_We_Are.Section2.ContentAr : Who_We_Are.Section2.ContentEn }}</p>
       </div>

   </div>

   <div class="row py-5">
          <div class="col-lg-6 text-center order-lg-1 order-1">
                  <p class="mt-4 text-black-bold">{{ userLang === 'arabic' ? Who_We_Are.Section3.ContentAr : Who_We_Are.Section3.ContentEn }}</p>
              </div>

          <div class="col-lg-6 text-center order-lg-1 order-0">
                 <svg width="108" height="109" viewBox="0 0 108 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0509 21.4003C24.4747 1.65994 90.9444 8.59544 66.9393 69.4567C42.9341 130.318 7.62718 41.1406 16.0509 21.4003Z" fill="#39A4E9"/>
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3996 18.2053C62.6559 27.3185 98.6326 73.1854 35.508 90.6697C-27.6165 108.154 38.1433 9.09213 50.3996 18.2053Z" fill="#5C20D2"/>
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7635 31.5357C41.3393 24.5311 98.3964 12.3499 86.4624 76.6666C74.5284 140.983 14.1877 38.5403 27.7635 31.5357Z" fill="black"/>
                 </svg>
                 <h2 class="col-lg-12 text-center font-purple font-bold mb-4 wow fadeInUp"  >{{ userLang === 'arabic' ? Who_We_Are.Section3.TitleAr : Who_We_Are.Section3.TitleEn }} </h2>
           </div>
   </div>

   <div class="row py-5 mb-5">
          <div class="col-lg-6 text-center">
             <svg width="108" height="109" viewBox="0 0 108 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0509 21.4003C24.4747 1.65994 90.9444 8.59544 66.9393 69.4567C42.9341 130.318 7.62718 41.1406 16.0509 21.4003Z" fill="#39A4E9"/>
                 <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3996 18.2053C62.6559 27.3185 98.6326 73.1854 35.508 90.6697C-27.6165 108.154 38.1433 9.09213 50.3996 18.2053Z" fill="#5C20D2"/>
                 <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7635 31.5357C41.3393 24.5311 98.3964 12.3499 86.4624 76.6666C74.5284 140.983 14.1877 38.5403 27.7635 31.5357Z" fill="black"/>
             </svg>
             <h2 class="col-lg-12 text-center font-purple font-bold mb-4 wow fadeInUp" >{{ userLang === 'arabic' ? Who_We_Are.Section4.TitleAr : Who_We_Are.Section4.TitleEn }}</h2>
      </div>
          <div class="col-lg-6 text-center">
            <p class="mt-4 text-black-bold"  >{{ userLang === 'arabic' ? Who_We_Are.Section4.ContentAr : Who_We_Are.Section4.ContentEn }}</p>
    </div>

      </div>

</div>
<section class="bg-black-dark mt-5">
<div class="container">
      <div class="row">
           <div class="pattern-up"></div>
          <div class="col-lg-10 py-4 d-flex justify-content-center flex-column text-center m-auto align-self-center" >
              <h2 class="mt-5 wow fadeInUp font-purple font-bold mb-5" data-wow-duration="0.6s" data-wow-delay="0.4s" >{{ userLang === 'arabic' ? Who_We_Are.Section5.TitleAr : Who_We_Are.Section5.TitleEn }}</h2>
              <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s" >{{ userLang === 'arabic' ? Who_We_Are.Section5.ContentAr : Who_We_Are.Section5.ContentEn }}</p>
          </div>
          <!-- <div class="row col-lg-12 justify-content-center mt-5">
          <div class="col-lg-4 col-12 text-center py-3">
              <img src="assets/images/team.png">
              <p class="mt-3 my-0">{{ 'WHOWEARE.IsmaelAlAkhras' | translate }} </p>
              <div class="pb-4 blue-text">{{ 'WHOWEARE.CoFounder' | translate }}</div>
          </div>
          <div class="col-lg-4 col-12 text-center py-3">
              <img src="assets/images/team.png">
              <p class="mt-3 my-0">{{ 'WHOWEARE.BashayerAlSaqir' | translate }} </p>
              <div class="pb-4 blue-text">{{ 'WHOWEARE.Founder' | translate }}</div>
           </div>
          </div> -->
          <div class="pattern-down"></div>

      </div>

  </div>
</section>
<!-- <div class="container py-5">
      <div class="row my-3">
          <div class="col-lg-12 d-flex justify-content-center flex-column text-center my-5">
              <button type="button" class="btn btn-block btn-antim btn-rounded mx-auto py-3" (click)="btnClick();">{{ 'WHOWEARE.ReachUs' | translate }}</button>
          </div>
      </div>
  </div> -->

  <footer class="footer py-5 bg-black">
    <div class="row ">
      <div class="col-lg-12 d-flex justify-content-center flex-column text-center my-5">
          <button type="button" class="btn btn-block btn-antim btn-rounded mx-auto py-3" (click)="btnClick();">{{ 'WHOWEARE.ReachUs' | translate }}</button>
      </div>
  </div>

    <app-footer></app-footer>

  </footer>
