
<div class="page-wrapper">
        <router-outlet></router-outlet>
        <div class="container Privilege pb-5">
            <div class="row my-3">
                <h2 class="col-lg-12 text-center font-purple font-bold mb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.7s">{{ 'HOME.OurPrivilege' | translate }} </h2>
            </div>
            <div class="row my-4">
                   <div class="col-lg-4 col-12 text-center">
                       <img src="assets/images/approval.svg" alt="antim" class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.5s">
                       <h6 class="my-2 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">{{ 'HOME.FastaApproval' | translate }}</h6>
                       <p class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s">{{ 'HOME.FastaApprovalDesc' | translate }}</p>
                       <a href="#" class="font-purple text-uppercase read-more wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">{{ 'HOME.readMore' | translate }}</a>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="assets/images/purchase.svg" alt="antim" class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.6s">
                        <h6 class="my-2 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">{{ 'HOME.OpenPurchases' | translate }}</h6>
                        <p class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.9s">{{ 'HOME.OpenPurchasesDesc' | translate }}</p>
                        <a href="#" class="font-purple text-uppercase read-more wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.9s">{{ 'HOME.readMore' | translate }}</a>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="assets/images/fund.svg" alt="antim" class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.7s">
                        <h6 class="my-2 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.9s">{{ 'HOME.ImmediantFund' | translate }}</h6>
                        <p class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1s">{{ 'HOME.ImmediantFundDesc' | translate }}</p>
                        <a href="#" class="font-purple text-uppercase read-more wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">{{ 'HOME.readMore' | translate }}</a>
                    </div>
            </div>
           

        </div>

        <div class="pattern-down"></div>
        <div class="container mt-5 h-100">
            <div class="pattern-up"></div>
                <div class="row my-3 mb-m-5 mb-0">
                    <h2 class="col-lg-12 text-center font-purple font-bold mb-m-5 mb-0 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.7s">{{ 'Borrower.HowItWorks' | translate }}</h2>
                </div>
                <div class="path-dashed"></div>

                <div class="row my-4 steps-antim mt-3">
                    <div class="col-lg-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                            <img src="assets/images/Img/add-product/active Copy.svg" class="img-responsive" alt="antim">
                            <p class="grey-text mt-3 text-left col-lg-8 mr-4">{{ 'HOME.DepositFudingAmount' | translate }}</p>
                            
                    </div>
                    <div class="col-lg-3 text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="mt-14">
                            <img src="assets/images/Img/add-product/active Copy 2.svg" class="img-responsive" alt="antim">
                            <p class="grey-text text-center mt-1">{{ 'HOME.Customer' | translate }}</p>
                        </div>

                    </div>
                    <div class="col-lg-3 text-right mt-min-4 wow fadeInRight" data-wow-duration="1.1s" data-wow-delay="0.8s">
                            <img src="assets/images/Img/add-product/active Copy 3.svg" class="img-responsive" alt="antim">                         
                            <p class="grey-text text-right mt-1">{{ 'HOME.SendRequestonplatform' | translate }}</p>
                            <div class="align-end mt-22">
                            <img src="assets/images/Img/add-product/active.svg" class="img-responsive" alt="antim">
                            <p class="grey-text mt-2 col-lg-12">{{ 'HOME.ProductDeliveryMonthlypayment' | translate }} </p>
                            </div>
                    </div>
                    <div class="col-lg-3 text-center mt-10 wow fadeInRight" data-wow-duration="1.2s" data-wow-delay="0.8s">
                            <img src="assets/images/Img/add-product/active Copy 4.svg" class="img-responsive" alt="antim">
                            <p class="grey-text text-right mt-1">{{ 'HOME.AcceptFund' | translate }}</p>


                    </div>
                </div>
    
            </div>
            <div class="easy-for-you py-4 h-100">
                    <div class="container">
                        <div class="row my-4">
                            <div class="col-lg-10 py-4 mb-5 row">
                                    <h2 class="font-purple font-bold mb-4 col-lg-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">{{ 'HOME.WeMadeItEasyForYou' | translate }}</h2>
                                    <p class="col-lg-9 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">{{ 'HOME.AutomatedFlowsAndidentityChecks' | translate }} </p>
                                    <br/>
                                    <p class="mb-5 col-lg-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">{{ 'HOME.WeMadeItEasyForYouDesc' | translate }} 

                                        </p>
                            </div>
                            <div class="col-lg-2">
                                    <img src="assets/images/women.png" class="img-responsive women-image wow fadeInRight" data-wow-duration="1.2s" data-wow-delay="0.8s" alt="antim">
        
                            </div>
                        </div>
                    </div>
                </div>
        <div class="responsive-layout py-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  order-small-2">
                            <img src="assets/images/topIphoneX.png" alt="antim" class="antim-phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">

                    </div>
                    <div class="col-lg-6 py-4 mb-5">
                            <h2 class="font-purple font-bold mb-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">{{ 'HOME.Responsivelayout' | translate }} </h2>
                            <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="1s">{{ 'HOME.ResponsivelayoutDesc' | translate }}
                                </p>

                    </div>
                </div>
            </div>
        </div>
        
        <section class="start-journey">
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-12 h-100 d-flex justify-content-center flex-column text-center">
                    <h2 class="mt-5 pt-4 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.4s">{{ 'HOME.StartYourJourneyNow' | translate }}</h2>
                    <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s">{{ 'HOME.StartYourJourneyNowDesc' | translate }}</p>
                    <button type="button" (click)="btnClick();" class="btn btn-block btn-antim btn-rounded mx-auto py-3 wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.6s" >{{ 'HOME.GetStarted' | translate }} </button>
                </div>
            </div>
        </div>

        <footer class="footer pb-5">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-2 col-12">
                            <img src="{{userLang == 'arabic' ? 'assets/images/antim-logo-arabic.svg' : 'assets/images/logo.svg'  }}" class="logo-img" alt="antim">

                    </div>
                    <div class="col col-lg-3 col-12">
                        <p class="copy-right pt-2">2019 .{{ 'HOME.AllRightsReserved' | translate }}
                            </p>
                    </div>
                    <div class="col col-lg-3 col-12">
                        <ul class="inline">
                            <li>
                            <a href="https://twitter.com/antim_app" target="_blank">
                            <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="HomeV2" transform="translate(-648.000000, -5987.000000)">
                                        <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                            <g id="Stacked-Group-4">
                                                <g id="Group-8">
                                                    <rect id="Rectangle-Copy-3" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                    <g id="twitter" transform="translate(8.000000, 10.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                        <path d="M22,0.0102625429 C21.042385,0.68573995 19.9821079,1.20237179 18.86,1.54026254 C17.6263595,0.121800337 15.63837,-0.375623146 13.8820815,0.294715977 C12.125793,0.965055099 10.9748003,2.66056341 11,4.54026254 L11,5.54026254 C7.43066483,5.63281494 4.05202531,3.93223305 2,1.01026254 C2,1.01026254 -2,10.0102625 7,14.0102625 C4.94052756,15.4082289 2.48715691,16.1091919 0,16.0102625 C9,21.0102625 20,16.0102625 20,4.51026254 C19.9990791,4.23171618 19.9722975,3.95385694 19.92,3.68026254 C20.9406031,2.67375562 21.6608274,1.40297533 22,0.0102625429 Z" id="Shape"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            </a>
                            </li>
                            <li>
                                <a href="#">

                            <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="HomeV2" transform="translate(-705.000000, -5987.000000)">
                                        <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                            <g id="Stacked-Group-4">
                                                <g id="Group-7" transform="translate(57.000000, 0.000000)">
                                                    <rect id="Rectangle-Copy-2" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                    <g id="instagram" transform="translate(9.000000, 9.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                        <rect id="Rectangle-path" x="0" y="0" width="20" height="20" rx="5"></rect>
                                                        <path d="M14,9.37 C14.2531224,11.0769716 13.3830258,12.7538445 11.8416265,13.5296738 C10.3002272,14.3055032 8.43504857,14.0053707 7.21483896,12.785161 C5.99462934,11.5649514 5.69449683,9.69977279 6.47032616,8.15837347 C7.24615548,6.61697416 8.92302841,5.74687756 10.63,6 C12.3729768,6.25846155 13.7415384,7.62702323 14,9.37 Z" id="Shape"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="HomeV2" transform="translate(-762.000000, -5987.000000)">
                                            <g id="Group-10" transform="translate(648.000000, 5987.000000)">
                                                <g id="Stacked-Group-4">
                                                    <g id="Group-6" transform="translate(114.000000, 0.000000)">
                                                        <rect id="Rectangle" stroke="#F2F2F2" x="0.5" y="0.5" width="36" height="36" rx="8"></rect>
                                                        <g id="facebook" transform="translate(13.000000, 9.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                            <path d="M11,0 L8,0 C5.23857625,0 3,2.23857625 3,5 L3,8 L0,8 L0,12 L3,12 L3,20 L7,20 L7,12 L10,12 L11,8 L7,8 L7,5 C7,4.44771525 7.44771525,4 8,4 L11,4 L11,0 Z" id="Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-lg-4 col-12">
                        <form class="subscribtion-form">
                            <input type="email" placeholder="{{ 'HOME.TypeEmail' | translate }}">
                            <button type="submit" class="btn btn-block btn-antim btn-subscribe">{{ 'HOME.Subscribe' | translate }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </section>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>