
<div class="page-wrapper">
        <router-outlet></router-outlet>
        <div class="container Privilege pb-3">
            <div class="row my-5 pt-3">
                <h2 class="col-lg-12 text-center font-purple font-bold mb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.7s">{{ 'HOME.OurPrivilege' | translate }} </h2>
            </div>
            <div class="row my-4">
                   <div class="col-lg-4 col-12 text-center">
                       <img src="assets/images/approval.svg" alt="antim" class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.5s">
                       <h6 class="my-2 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">{{ userLang == 'arabic' ? HomePage.Section1.TitleAr : HomePage.Section1.TitleEn }}</h6>
                       <p class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s">{{ userLang == 'arabic' ? HomePage.Section1.ContentAr : HomePage.Section1.ContentEn }}</p>
                       <!-- <a href="#" class="font-purple text-uppercase read-more wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">{{ 'HOME.readMore' | translate }}</a> -->
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="assets/images/purchase.svg" alt="antim" class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.6s">
                        <h6 class="my-2 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">{{ userLang == 'arabic' ? HomePage.Section2.TitleAr : HomePage.Section2.TitleEn }}</h6>
                        <p class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s">{{ userLang == 'arabic' ? HomePage.Section2.ContentAr : HomePage.Section2.ContentEn }}</p>
                         <!-- <a href="#" class="font-purple text-uppercase read-more wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.9s">{{ 'HOME.readMore' | translate }}</a> -->
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="assets/images/fund.svg" alt="antim" class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.7s">
                        <h6 class="my-2 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">{{ userLang == 'arabic' ? HomePage.Section3.TitleAr : HomePage.Section3.TitleEn }}</h6>
                        <p class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s">{{ userLang == 'arabic' ? HomePage.Section3.ContentAr : HomePage.Section3.ContentEn }}</p>
                         <!-- <a href="#" class="font-purple text-uppercase read-more wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">{{ 'HOME.readMore' | translate }}</a> -->
                    </div>
            </div>


        </div>

        <div class="pattern-down"></div>
        <div class="container mt-3 h100">
            <div class="pattern-up"></div>
                <div class="row my-3  mb-3">
                    <h2 class="col-lg-12 text-center font-purple font-bold mb-5 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.7s">{{ 'Borrower.HowItWorks' | translate }}</h2>
                </div>
                <div class="path-dashed"></div>

                <div class="row my-4 steps-antim mt-3">
                    <div class="col-lg-3 row pl-0 pr-0 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                      <div class="col-lg-6 p-0">
                        <img src="assets/images/Img/add-product/active Copy.svg" class="img-responsive" alt="antim">
                      </div>
                      <div class="col-lg-6">
                        <p class="grey-text pl-2 margin-top margin-bottom text-bold ">{{ 'HOME.DepositFudingAmount' | translate }}</p>
                      </div>
                    </div>
                    <div class="col-lg-3 text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="mt-14">
                            <img src="assets/images/Img/add-product/active Copy 2.svg" class="img-responsive" alt="antim">
                            <p class="grey-text text-bold margin-bottom text-center mt-1">{{ 'HOME.Customer' | translate }}</p>
                        </div>

                    </div>
                    <div class="col-lg-3 text-right mt-min-4 wow fadeInRight" data-wow-duration="1.1s" data-wow-delay="0.8s">
                            <img src="assets/images/Img/add-product/active Copy 3.svg" class="img-responsive" alt="antim">
                            <p class="grey-text text-bold margin-bottom text-right mt-1">{{ 'HOME.SendRequestonplatform' | translate }}</p>
                            <div class="align-end mt-22">
                            <img src="assets/images/Img/add-product/active.svg" class="img-responsive" alt="antim">
                            <p class="grey-text text-bold margin-bottom mt-2 col-lg-12">{{ 'HOME.ProductDeliveryMonthlypayment' | translate }} </p>
                            </div>
                    </div>
                    <div class="col-lg-3 text-center mt-10 wow fadeInRight" data-wow-duration="1.2s" data-wow-delay="0.8s">
                            <img src="assets/images/Img/add-product/active Copy 4.svg" class="img-responsive" alt="antim">
                            <p class="grey-text text-bold margin-bottom padding-accept-fund mt-1">{{ 'HOME.AcceptFund' | translate }}</p>
                    </div>
                </div>

            </div>
            <div class="easy-for-you py-4" style="height: 90vh;">
                    <div class="container">
                        <div class="row ">
                            <div class="col-lg-10 py-4 mb-2 row mt-60">
                                    <h2 class="font-purple font-bold mb-5 col-lg-5 pt-3 mt-60 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">{{ userLang == 'arabic' ? HomePage.Section4.TitleAr : HomePage.Section4.TitleEn }} </h2>
                                    <br/>
                                    <p class="margin-top col-lg-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">{{ userLang == 'arabic' ? HomePage.Section4.ContentAr : HomePage.Section4.ContentEn }}</p>
                            </div>
                            <div class="col-lg-2">
                                    <img src="assets/images/women.png" class="img-responsive women-image wow fadeInRight" data-wow-duration="1.2s" data-wow-delay="0.8s" alt="antim">

                            </div>
                        </div>
                    </div>
                </div>
        <div class="responsive-layout py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  order-small-2">
                            <img src="assets/images/topIphoneX.png" alt="antim" class="antim-phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">

                    </div>
                    <div class="col-lg-6 py-4 mb-5">
                            <h2 class="font-purple font-bold mb-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s" >{{ userLang == 'arabic' ? HomePage.Section5.TitleAr : HomePage.Section5.TitleEn }} </h2>
                            <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="1s" >{{ userLang == 'arabic' ? HomePage.Section5.ContentAr : HomePage.Section5.ContentEn }}</p>

                    </div>
                </div>
            </div>
        </div>

        <section class="start-journey">
        <div class="container py-5 mt-3">
            <div class="row mb-3">
                <div class="col-lg-12 d-flex justify-content-center flex-column text-center">
                    <h2 class="mt-5 pt-4 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.4s">{{ 'HOME.StartYourJourneyNow' | translate }}</h2>
                    <p class="wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.5s">{{ 'HOME.StartYourJourneyNowDesc' | translate }}</p>
                    <button type="button" (click)="btnClick();" class="btn btn-block btn-antim btn-rounded mx-auto py-3 wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.6s" >{{ 'HOME.GetStarted' | translate }} </button>
                </div>
            </div>
        </div>

  <footer class="footer pb-5">
    <app-footer></app-footer>
  </footer>
    </section>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
