<div>
        <div class="row">
                <nav id="navbar-app" class="navbar navbar-expand-lg navbar-light container py-4 mb-auto sticky-nav" ngStickyNav stickyClass="sticky-fixed-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" [routerLink]="[ '/' ]">
                                <img src="assets/images/logo-white.svg" alt="antim">

                        </a>
                </nav>
            <aside class="left-sidebar col-lg-4">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <app-sidebar></app-sidebar>
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <div class="page-wraper-right row">
                <app-setting></app-setting>
            </div>



        <div class="page-wraper-right">
                <div class="mat-card col-lg-11 mt-5 px-0 py-0 m-0 mb-5">
                        <div class="mat-card col-lg-12 row welcome-card inner p-2 m-0 align-items-center">
                            <img class="col-lg-2 col-4" src="assets/images/bookWithMen 2.svg">
                            <div class="col-lg-7 px-0 col-8">
                                <p class="grey-text-color">My Profile</p>
                            </div>
                            <form class="col-lg-3">
                            <div class="form-group">
                                <label for="profileInformation" class="font-size-13">Select profile infomation </label>
                                <select class="form-control form-control-lg mb-2§ custom-select" (change)="onChange($event.target.value)">
                                        <option value="Personal" selected>Personal Information</option>
                                        <option value="Bank">Bank Information</option>
                                        <option value="address">Address Information</option>
                                </select>
                                <svg class="arrow" fill="none" height="7" viewBox="0 0 14 12" width="10" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-pkd-c13="" d="M1 1.2113L7 10.7606L13 1.2113" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
                            </div>
                            </form>
                        </div>



                        <div class="col-lg-11 row justify-content-around mt-5 dashbored-info">
                            <div class="justify-content-center col-lg-9">
                            <form class="row antim-form" [formGroup]="EditForm" *ngIf="!showAddress && !showBank && showUser">
                            <div class="col-lg-12 mb-3"><h3 class="headingh3">Personal Information</h3></div>
                            <div class="col-lg-6">
                                <label for="Name" class="font-bold mt-2">Name</label>
                                <input matInput formControlName="Name" type="text" class="form-control form-control-lg" value= "{{name}}" [(ngModel)]="name" placeholder="name" >
                                <div *ngIf="EditForm.controls['Name'].touched && !EditForm.controls['Name'].valid" class="error-msg alert alert-danger text-left"> Name required</div>
                            </div>
                            <div class="col-lg-6">
                                <label for="mobile" class="font-bold mt-2">Mobile No</label>
                                <input matInput formControlName="MobileNo" type="number" class="form-control form-control-lg" value= "{{phone}}" [(ngModel)]="phone" placeholder="Mobile No." (keyup)="inputNumber($event)"
                                oninput="javascript: if (this.value.length >= 9) { document.getElementById('phonenumber').style.visibility = 'hidden'; }
                                else { document.getElementById('phonenumber').style.visibility = 'visible'; }">
                                 <div *ngIf="EditForm.controls['MobileNo'].touched && EditForm.controls['MobileNo'].hasError('required')" class="error-msg alert alert-danger text-left">Mobile Number is required</div>
                                 <span class="redColor" id="phonenumber"> Phone number must be at least 9 characters long.</span>

                            </div>

                            <div class="col-lg-6">
                                <label for="Email" class="font-bold mt-2">Email address </label>
                                <input matInput formControlName="Email" type="email" class="form-control form-control-lg" value= "{{email}}" [(ngModel)]="email" placeholder="email">
                                <div *ngIf="EditForm.controls['Email'].touched && EditForm.controls['Email'].hasError('required')" class="error-msg alert alert-danger text-left">Email is required</div>
                                <div *ngIf="EditForm.controls['Email'].touched && EditForm.controls['Email'].hasError('pattern')" class="error-msg alert alert-danger text-left">Enter proper Email.</div>

                            </div>
                            <div class="col-lg-6">
                                <label for="NID" class="font-bold mt-2">National ID / Iqama</label>
                                <input matInput formControlName="NID" type="text" class="form-control form-control-lg" value= "{{NID}}" [(ngModel)]="NID" placeholder="National ID">
                                <div *ngIf="EditForm.controls['NID'].touched && EditForm.controls['NID'].hasError('required')" class="error-msg alert alert-danger text-left">National ID is required</div>
                                <div *ngIf="EditForm.controls['NID'].touched && EditForm.controls['NID'].hasError('minlength')" class="error-msg alert alert-danger text-left">National ID number must be at least 10 characters long.</div>
                            </div>
                            <!-- <div class="col-lg-12">
                                    <label for="Address" class="font-bold mt-2">Address</label>
                                    <input matInput formControlName="Address" class="form-control form-control-lg" value="Saudi Arabia" placeholder="Address">
                                </div>
                                <div class="container">
                                <div class="mt-4">
                                        <div class="col-lg-12" id="map-inner" leaflet
                                        style="height:100px;"
                                        [leafletCenter]="mapCenter"
                                        [leafletZoom]="zoomLevel"
                                        [leafletLayers]="leafletLayers">
                                    </div>
                                    </div>
                                </div> -->
                            </form>



                            <form class="row antim-form" [formGroup]="BankInfoForm" *ngIf="!showAddress && showBank && !showUser">
                                    <div class="col-lg-12 mb-3"><h3 class="headingh3">Bank Information</h3></div>
                                    <div class="col-lg-6">
                                        <label for="BankName" class="font-bold mt-2">Bank Name</label>
                                        <input matInput formControlName="BankName" class="form-control form-control-lg" value="HBL Bank" placeholder="Bank Name">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="BankAccount" class="font-bold mt-2">Bank Account Number</label>
                                        <input matInput formControlName="BankAccountNo" class="form-control form-control-lg" value="0112323232" placeholder="Bank Account Name">
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="emailadd" class="font-bold mt-2">Account Title </label>
                                        <input matInput formControlName="AccountTitle" class="form-control form-control-lg" value="ASAD IRFAN" placeholder="email">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="NationalId" class="font-bold mt-2">Bank Address</label>
                                        <input matInput formControlName="Address" class="form-control form-control-lg" value="Karim block" placeholder="National ID">
                                    </div>
                                    <div class="col-lg-12 h-70">
                                            <label for="AccountStatement" class="font-bold mt-2">Account Statement (for last 3 months) </label>
                                            <input type="file" class="custom-file-input">
                                            <div class="file-input">
                                                <p class="text-center">
                                                    <span class="px-3">
                                                        <svg width="28" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.68117 2.2677L1.96299 4.4627C1.06069 4.80906 0.610006 5.82131 0.956368 6.72361L5.97352 19.7937C6.31988 20.696 7.33212 21.1467 8.23443 20.8004L18.037 17.0375C18.9393 16.6911 19.39 15.6789 19.0436 14.7766L15.5944 5.79087L7.68117 2.2677Z" fill="#F9F9F9" stroke="#D8D8D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M7.68115 2.26758L9.87616 7.98576L15.5943 5.79075" stroke="#D8D8D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2069 2.62589L14.3816 0.733163C13.4624 0.434498 12.4752 0.937537 12.1765 1.85673L7.85027 15.1715C7.5516 16.0907 8.05464 17.078 8.97384 17.3767L18.9599 20.6213C19.8791 20.92 20.8664 20.417 21.1651 19.4978L24.1393 10.3438L20.2069 2.62589Z" fill="#FEFCF8" stroke="#F6CF00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M20.2069 2.62598L18.3142 8.4512L24.1394 10.3439" stroke="#F6CF00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        </span>
                                                    Darg and drop here</p>
                                            </div>

                                    </div>
                                    <div class="col-lg-12 h-70">
                                            <label for="SalaryStatement" class="font-bold mt-2">Salary Statement</label>
                                            <input type="file" class="custom-file-input">
                                            <div class="file-input">
                                               <p class="text-center">
                                                    <span class="px-3">
                                                        <svg width="28" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.68117 2.2677L1.96299 4.4627C1.06069 4.80906 0.610006 5.82131 0.956368 6.72361L5.97352 19.7937C6.31988 20.696 7.33212 21.1467 8.23443 20.8004L18.037 17.0375C18.9393 16.6911 19.39 15.6789 19.0436 14.7766L15.5944 5.79087L7.68117 2.2677Z" fill="#F9F9F9" stroke="#D8D8D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M7.68115 2.26758L9.87616 7.98576L15.5943 5.79075" stroke="#D8D8D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2069 2.62589L14.3816 0.733163C13.4624 0.434498 12.4752 0.937537 12.1765 1.85673L7.85027 15.1715C7.5516 16.0907 8.05464 17.078 8.97384 17.3767L18.9599 20.6213C19.8791 20.92 20.8664 20.417 21.1651 19.4978L24.1393 10.3438L20.2069 2.62589Z" fill="#FEFCF8" stroke="#F6CF00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M20.2069 2.62598L18.3142 8.4512L24.1394 10.3439" stroke="#F6CF00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        </span>
                                                Darg and drop here</p>
                                            </div>

                                    </div>
                                    </form>

                                    <form class="row antim-form" [formGroup]="AddressForm" *ngIf="showAddress && !showBank && !showUser">
                                      <div class="col-lg-12 mb-3"><h3 class="headingh3">Address Information.</h3></div>
                                      <div class="col-lg-12">
                                          <label for="address" class="font-bold mt-2">Complete Address</label>
                                          <input matInput formControlName="Address" type="text" class="form-control form-control-lg" value="{{address}}" placeholder="enter your Address here" [(ngModel)]="address">
                                          <div *ngIf="AddressForm.controls['Address'].touched && AddressForm.controls['Address'].hasError('required')" class="error-msg alert alert-danger text-left">Address is required</div>
                                          <div *ngIf="AddressForm.controls['Address'].touched && AddressForm.controls['Address'].hasError('minlength')" class="error-msg alert alert-danger text-left">Address must be at least 6 characters long.</div>
                                      </div>
                                      <div class="col-lg-6">
                                        <label for="city" class="font-bold mt-2">City </label>
                                        <input matInput formControlName="City" type="text" class="form-control form-control-lg"  value="{{city}}" placeholder="enter your city here" [(ngModel)]="city">
                                        <div *ngIf="AddressForm.controls['City'].touched && AddressForm.controls['City'].hasError('required')" class="error-msg alert alert-danger text-left">city is required</div>
                                        <div *ngIf="AddressForm.controls['City'].touched && AddressForm.controls['City'].hasError('minlength')" class="error-msg alert alert-danger text-left">city must be at least 4 characters long.</div>
                                  </div>
                                    <div class="col-lg-6">
                                      <label for="country" class="font-bold mt-2">Country</label>
                                      <input matInput formControlName="Country" type="text" class="form-control form-control-lg" value="{{country}}"  placeholder="enter your country here" [(ngModel)]="country">
                                      <div *ngIf="AddressForm.controls['Country'].touched && AddressForm.controls['Country'].hasError('required')" class="error-msg alert alert-danger text-left">country is required</div>
                                      <div *ngIf="AddressForm.controls['Country'].touched && AddressForm.controls['Country'].hasError('minlength')" class="error-msg alert alert-danger text-left">country must be at least 4 characters long.</div>
                              </div>
                                  <div class="col-lg-6">
                                    <label for="state" class="font-bold mt-2">State</label>
                                    <input matInput formControlName="State" type="text" class="form-control form-control-lg" value="{{state}}"  placeholder="enter your State here" [(ngModel)]="state">
                                    <div *ngIf="AddressForm.controls['State'].touched && AddressForm.controls['State'].hasError('required')" class="error-msg alert alert-danger text-left">state is required</div>
                                    <div *ngIf="AddressForm.controls['State'].touched && AddressForm.controls['State'].hasError('minlength')" class="error-msg alert alert-danger text-left">state must be at least 4 characters long.</div>
                          </div>
                                <div class="col-lg-6">
                                  <label for="zip" class="font-bold mt-2">ZIP code</label>
                                  <input matInput formControlName="Zip" type="number" class="form-control form-control-lg"  value="{{zip}}" placeholder="enter your Zip here" [(ngModel)]="zip">
                                  <div *ngIf="AddressForm.controls['Zip'].touched && AddressForm.controls['Zip'].hasError('required')" class="error-msg alert alert-danger text-left">Zip is required</div>
                              </div>

                          </form>
                        </div>
                        </div>

                        <div class="col-lg-10 mt-3 row justify-content-end py-4 mt-4" *ngIf="!showAddress && !showBank && showUser">
                                <div class="form-group col-lg-2">
                                       <button class="btn btn-info btn-lg btn-block btn-black mt-2" (click)="EditInfo()">
                                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3632 4.32641L4.05556 11.5H1V8.72222L8.94444 1.5L11.3632 4.32641Z" stroke="#694F70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span class="px-3">Edit</span>
                                        </button>
                                    </div>
                               <div class="form-group col-lg-2">
                                   <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  [disabled]="!disableprofileButton || (!phone && phone!=0) || !EditForm.valid" (click)="SaveInfo()">Save</button>
                               </div>
                               <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
                               color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
                               <p style="color: white; margin-top:50px;font-size: 26px;" > Loading... </p>
                               </ngx-spinner>
                        </div>

                        <div class="col-lg-10 mt-3 row justify-content-end py-4 mt-4" *ngIf="showAddress && !showBank && !showUser">
                          <div class="form-group col-lg-2"  >
                                 <button class="btn btn-info btn-lg btn-block btn-black mt-2" (click)="EditAddressInfo()">
                                      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3632 4.32641L4.05556 11.5H1V8.72222L8.94444 1.5L11.3632 4.32641Z" stroke="#694F70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                      <span class="px-3">Edit</span>
                                  </button>
                              </div>
                              <!-- <div class="form-group col-lg-2">
                                <button class="btn btn-info btn-lg btn-block btn-black mt-2" (click)="addAddressInfo()">
                                     <span class="px-3">ADD</span>
                                 </button>
                             </div> -->
                         <div class="form-group col-lg-2">
                             <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  [disabled]="!disableAddressButton"  (click)="SaveAddressInfo()">Save</button>
                         </div>
                         <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
                         color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
                         <p style="color: white; margin-top:50px;font-size: 26px;" > Loading... </p>
                         </ngx-spinner>
                  </div>

                        <div class="col-lg-10 mt-3 row justify-content-end py-4 mt-2" *ngIf="!showAddress && showBank && !showUser">
                                <div class="form-group col-lg-2">
                                       <button class="btn btn-info btn-lg btn-block btn-black mt-2" (click)="EditBankInfo()">
                                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3632 4.32641L4.05556 11.5H1V8.72222L8.94444 1.5L11.3632 4.32641Z" stroke="#694F70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span class="px-3">Edit</span>
                                        </button>
                                    </div>
                               <div class="form-group col-lg-2">
                                   <button class="btn btn-info btn-lg btn-block btn-purple mt-2" (click)="SaveBankInfo()">Save</button>
                               </div>
                        </div>
            </div>
        </div>
        </div>
