.redColor{
  color: red;
  font-size: 10px;
  visibility: hidden;
}
.btn-blue {
  background-color: rgb(82, 171, 230);
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 1rem;
  font-size: 13px;
}
label{
  font-size: 15px;
}
#edit-moible{
  flex-direction: row !important;
}
#countrycode {
  direction: ltr !important;
}
.download-btn{
    border: 1px solid rgb(65, 134, 238);
    background-color: rgb(65, 134, 238);
    border-radius: 5px;
}
.delete-btn{
  border: 1px solid rgb(231, 80, 80);
  background-color: rgb(231, 80, 80);
  border-radius: 5px;
}
.padding-mobile-button{
  padding-left: 20px;
  padding-right: 0px;
}
.margin-save-button{
  margin-right: -7px;
  margin-left: 7px;
}
@media (max-width: 692px) {

  .antim-form{
    padding-left: 20px !important;
  }
  .padding-mobile-button {
    padding-right: 15px !important;
    padding-left: 10px !important;
  }
  .margin-save-button{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
