

      <div>
          <div class="row">
              <nav id="navbar-app" class="navbar navbar-expand-lg navbar-light container py-4 mb-auto sticky-nav" ngStickyNav stickyClass="sticky-fixed-header">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                          <span class="navbar-toggler-icon"></span>
                  </button>
                  <a class="navbar-brand" [routerLink]="[ '/' ]">
                          <img src="assets/images/logo-white.svg" alt="antim">

                  </a>
          </nav>
              <aside class="left-sidebar col-lg-4">
                  <!-- Sidebar scroll-->
                  <div class="scroll-sidebar">
                      <app-sidebar></app-sidebar>
                  </div>
                  <!-- End Sidebar scroll-->
              </aside>
              <div class="page-wraper-right row">
                <app-setting></app-setting>
            </div>



          <div class="page-wraper-right full-width "  *ngIf="!editDraftRequest && showRequestDetails">

          <div class="justify-content-center col-lg-11 mat-card mt-4 p-0 mb-5">
              <div class="mat-card row p-4 m-0">
                  <div class="header col-lg-9">
                    <span class="icon-close" [routerLink]="['/requests-customer']"><i class="material-icons"><svg fill="none" height="14" viewBox="0 0 7 18" width="7" xmlns="http://www.w3.org/2000/svg"><path d="M1 13L7 7L1 1" stroke="#D8D8D8" stroke-linecap="round" stroke-linejoin="round"></path></svg></i></span>
                    <p>Request Details</p>
                  </div>
                  <button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-3" *ngIf="requestType == 'Ongoing Requests'" (click)="openVerticallyCentered(content1)">Request reschedule</button>

                </div>
                <form class="col-lg-10 row antim-form p-5 mt-2 mb-5 m-auto" [formGroup]="editRequestForm">
                    <div class="row" style="width: 100%;">
                      <div class="col-lg-6 padding"><h3 class="headingh3">Request Details</h3>
                        </div>
                        <div class="col-lg-2 ">
                          </div>
                        <div class="form-group col-lg-4" *ngIf="showCancelButton">
                            <button class="btn btn-info btn-lg btn-block btn-Red mt-2"  (click)="OpenCancelRequestPopup(contentCancel)">Cancel Request</button>
                        </div>
                        <div class="col-lg-4" *ngIf="deleteButton">
                            <button class="btn btn-danger btn-lg btn-block btn-red  cursor-pointer col-lg-12" (click)="openDeletePopup(contentDel)">
                              <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 6H3H19" stroke="#C5003E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5 6C5 4.89543 4.10457 4 3 4V6H5ZM5 20V6H3V20H5ZM5 20H3C3 21.1046 3.89543 22 5 22V20ZM15 20H5V22H15V20ZM15 20V22C16.1046 22 17 21.1046 17 20H15ZM15 6V20H17V6H15ZM17 4C15.8954 4 15 4.89543 15 6H17V4ZM19 6C19 4.89543 18.1046 4 17 4V6H19ZM19 20V6H17V20H19ZM15 24C17.2091 24 19 22.2091 19 20H17C17 21.1046 16.1046 22 15 22V24ZM5 24H15V22H5V24ZM1 20C1 22.2091 2.79086 24 5 24V22C3.89543 22 3 21.1046 3 20H1ZM1 6V20H3V6H1ZM3 4C1.89543 4 1 4.89543 1 6H3V4ZM8 4V2C6.89543 2 6 2.89543 6 4H8ZM8 6V4H6V6H8ZM6 8C7.10457 8 8 7.10457 8 6H6V8ZM4 6C4 7.10457 4.89543 8 6 8V6H4ZM4 4V6H6V4H4ZM8 0C5.79086 0 4 1.79086 4 4H6C6 2.89543 6.89543 2 8 2V0ZM12 0H8V2H12V0ZM16 4C16 1.79086 14.2091 0 12 0V2C13.1046 2 14 2.89543 14 4H16ZM16 6V4H14V6H16ZM14 8C15.1046 8 16 7.10457 16 6H14V8ZM12 6C12 7.10457 12.8954 8 14 8V6H12ZM12 4V6H14V4H12ZM12 4H14C14 2.89543 13.1046 2 12 2V4ZM8 4H12V2H8V4Z" fill="#C5003E"/>
                                <path d="M8 11V17" stroke="#C5003E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 11V17" stroke="#C5003E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                               <span class="px-3">Delete</span>
                           </button>
                        </div>
                      </div>
                    <div class="row" style="width: 100%;">
                      <div class="col-lg-12">
                          <label for="Name" class="font-bold mt-2">Request Name: </label>
                          <input formControlName="ProductName" class="form-control form-control-lg" value="{{requestName}}" readonly placeholder="Product Name"  [attr.disabled]="true">
                      </div>
                    </div>


                    <div class="row" style="width: 100%;" *ngFor="let product of productList; let i = index;" >
                        <div class="form-group text-left col-lg-9"   >
                            <label  class="font-bold mt-2">Product Link</label>
                            <input  class="form-control form-control-lg" placeholder="Enter product link here …" type="text" readonly value="{{product.productUrl}}">
                        </div>
                        <div class="form-group text-left col-lg-3"   >
                            <label  class="font-bold mt-2">Product Price:</label>
                            <input  class="form-control form-control-lg" placeholder="Enter price here..."  type="number" readonly value="{{product.amount}}">
                          </div>
                      </div>

                    <div class="row" style="width: 100%;">
                        <div class="col-lg-4">
                          <label for="RequestDate" class="font-bold mt-2">Request Date</label>
                          <input formControlName="RequestDate" class="form-control form-control-lg" value="{{requestDate}}" placeholder="Request Date" readonly [attr.disabled]="true">
                      </div>
                      <div class="col-lg-4">
                          <label for="Amount" class="font-bold mt-2">Total price</label>
                          <input formControlName="FundingAmount" class="form-control form-control-lg" value="{{totalPrice}}" type="number" placeholder="Amount of funding"  [attr.disabled]="true" readonly>
                      </div>
                      <div class="col-lg-4">
                        <label for="totalAmount" class="font-bold mt-2">Total Payable Amount</label>
                        <input formControlName="TotalAmount" class="form-control form-control-lg" value="{{totalPriceWithProfit}}" type="number" placeholder="Installment amount per month" [attr.disabled]="true" readonly>
                    </div>
                  </div>

                   <div class="row" style="width: 100%;">
                   <div class="col-lg-4" >
                      <label for="Installment" class="font-bold mt-2">Installment Period</label>
                      <input formControlName="installmentPeriod" class="form-control form-control-lg" value="{{installmentPeriod}}" placeholder="Installment Period" readonly [attr.disabled]="true">
                  </div>

                      <div class="col-lg-4">
                          <label for="InstallmentAmount" class="font-bold mt-2">Monthly Installment</label>
                          <input formControlName="MonthlyInstallment" class="form-control form-control-lg" value="{{monthlyInstallment}}"   readonly placeholder="Installment amount per month" [attr.disabled]="true">
                      </div>
                  </div>
                  <div class="row" style="width: 100%;">
                      <div class="col-lg-6">
                        <label for="RequestStatus" class="font-bold mt-2">Request Status</label>
                        <input formControlName="RequestStatus" class="form-control form-control-lg " value="{{requestType}}" readonly [attr.disabled]="true">
                      </div>

                      <div class="col-lg-6" *ngIf="requestType == 'Ongoing Requests'">
                        <label  class="font-bold mt-2">Product Status</label>
                        <input  class="form-control form-control-lg " value="{{productStatus}}" readonly [attr.disabled]="true" >
                      </div>
                      </div>

                      <div class="col-lg-11 row justify-content-end mt-3 "  *ngIf="requestType == 'Ongoing Requests'">

                        <div class="justify-content-center col-lg-12" >

                          <div class="row my-3 justify-content-center" style="width: 100%;" *ngIf="showTable">
                              <h3  class="font-bold">Installment Details</h3>
                           </div>

                            <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 my-2" cellpadding="20" *ngIf="showTable" >

                                <ng-container matColumnDef="months">
                                    <th mat-header-cell *matHeaderCellDef >No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.month}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="dueDate">
                                            <th mat-header-cell *matHeaderCellDef >Due Date </th>
                                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                          </ng-container>

                                          <ng-container matColumnDef="price">
                                            <th mat-header-cell *matHeaderCellDef > Monthly Installment </th>
                                            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                                          </ng-container>

                                          <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef >Status</th>
                                            <td mat-cell *matCellDef="let element" class="mat-cell {{element.status}}"> {{element.status}} </td>
                                          </ng-container>



                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                             >
                                          </tr>
                                        </table>


                        </div>
                      </div>
                      <div class="row" style="width: 100%;" *ngIf="showEditButton">
                      <div class="col-lg-10 mt-3 row justify-content-end py-4 mt-4" >
                        <div class="form-group col-lg-4" >
                               <button class="btn btn-info btn-lg btn-block btn-black mt-2"  (click)="editRequestInfo()">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3632 4.32641L4.05556 11.5H1V8.72222L8.94444 1.5L11.3632 4.32641Z" stroke="#694F70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span class="px-3">Edit</span>
                                </button>
                            </div>

                    </div>
                </div>
                <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
                color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
                <p style="color: white; margin-top:50px;font-size: 26px;" > Loading... </p>
                </ngx-spinner>
                      </form>
            <br/>
            <br/>
            </div>
            <ng-template #content1 let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Request Sent!</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              <div class="modal-body py-5">
                <p class="my-4">
                  <!-- Dear Customer Your order has been successfully sent and <br/>will be reviewed and answered as soon as possible -->
                    Please tell me What Message Shown if click on request reschedule??

                </p>
                <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" (click)="modal.close('Close click')">CLOSE</button></div>

              </div>
            </ng-template>
            <ng-template #contentDel let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Request</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body py-4">
                  <p class="my-3 mx-3" style="text-align: center; font-size: 15px;">
                        Do you really Want To Delete this Request Name : {{requestName}}?
                  </p>
                  <div class="row py-1" style="width: 100%;">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-4"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 " (click)="modal.close('Close click')">No</button></div>
                  <div class="col-lg-4"><button class="btn btn-info btn-lg btn-block btn-purple mt-2" (click)="deleteRequest()">Yes</button></div>

                  </div>
                </div>
              </ng-template>
              <ng-template #contentCancel let-modal>
                  <div class="modal-header">
                      <h4 class="modal-title">Cancel Request</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body py-4">
                        <p class="my-3 mx-3" style="text-align: center; font-size: 15px;">
                          Do you really Want To Cancel this Request Name : {{requestName}}?
                          If you cancel this Request, it would be permanently deleted.
                    </p>
                    <div class="row py-2" style="width: 100%;">
                        <div class="col-lg-3"></div>
                    <div class="col-lg-4"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 " (click)="modal.close('Close click')">No</button></div>
                    <div class="col-lg-4"><button class="btn btn-info btn-lg btn-block btn-purple mt-2" (click)="cancelRequest()">Yes</button></div>

                    </div>
                  </div>
                </ng-template>
        </div>


        <div class="page-wraper-right full-width" *ngIf="editDraftRequest && !showRequestDetails">
            <div class="mat-card p-1 col-lg-11 mt-5">
            <div class="mat-card row welcome-card inner p-0 m-1">
                    <img class="col-lg-2 col-4" src="assets/images/bookWithMen 2.svg">
                    <div class="col-lg-10 col-8 px-0">
                        <p class="grey-text-color mt-4">Well, it is very easy to edit your request, just follow the below steps!
                            </p>
                    </div>
            </div>

            <mat-horizontal-stepper linear #matStep class="mt-5">
              <mat-step [stepControl]="firstFormGroup" >
                <form [formGroup]="firstFormGroup">
                          <ng-template matStepLabel>
                              <img src="assets/images/add-product.svg">
                              <p class="font-size-13 mt-2">Edit Product</p>
                          </ng-template>
                          <div class="my-4">
                            <h3 class="mb-4 mt-4">Enter product Detail(s)</h3>
                          </div>
                        <div class="row" style="width: 100%;">
                          <div class="form-group text-left col-lg-12  " >
                            <label for="name" class="font-bold mt-2">Request Name</label>
                            <input formControlName="Name" class="form-control form-control-lg" placeholder="Enter Request name here …"  type="text" value="{{requestName}}" [(ngModel)]="requestName">
                            <div *ngIf="firstFormGroup.controls['Name'].touched && firstFormGroup.controls['Name'].hasError('required')" class="error-msg alert alert-danger text-left">Request Name is required.</div>
                          </div>
                        </div>

                        <div class="row" style="width: 100%;" *ngFor="let product of productList; let i = index;" >
                            <a class="close-icon" (click)="removeItems(i)"><img src="assets/images/close.svg"></a>
                            <div class="form-group text-left col-lg-9"   >
                                <label  class="font-bold mt-2">Product Link</label>
                                <input  class="form-control form-control-lg" placeholder="Enter product link here …" type="text"  value="{{product.productUrl}}" [(ngModel)]="product.productUrl" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group text-left col-lg-3"   >
                                <label  class="font-bold mt-2">Product Price:</label>
                                <input  class="form-control form-control-lg" placeholder="Enter price here..."  type="number" digitOnly value="{{product.amount}}" [(ngModel)]="product.amount" [ngModelOptions]="{standalone: true}" (focusout)="onFocusoutMethod()">
                              </div>
                          </div>

                          <div class="row mt-2 mb-4" style="width: 100%;">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                              <button class=" btn btn-block btn-outline-primary more-item-button mt-4" (click)="addMoreItems()" >
                                <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 21.5217C15.5228 21.5217 20 16.8499 20 11.0869C20 5.32391 15.5228 0.6521 10 0.6521C4.47715 0.6521 0 5.32391 0 11.0869C0 16.8499 4.47715 21.5217 10 21.5217Z" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10 6.91309V15.2609" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M6 11.0869H14" stroke="#5C20D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>

                            More Item</button>
                            </div>
                            </div>

                            <div class="mt-3 row ">
                                    <div class=" col-lg-7" >
                                        <p style="font-weight: bold; font-size: 26px;" class="mt-3">Total Price Of Products : </p>
                                        <input class="form-control form-control-lg"  value="{{totalPrice}}" readonly>
                                    </div>
                                  </div>

                               <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-3">
                                     <div class="form-group col-lg-3">
                                        <button mat-button (click)="nextStep(matStep)" [disabled]="!firstFormGroup.valid" class="btn btn-info btn-lg btn-block btn-purple ">Next </button>
                                      </div>
                                 </div>
                              <div class="mt-3">
                                <p style="color: rgb(206, 19, 19)">
                                  <b> <span class="red-color"> *</span> Note: </b>Please make sure that Total Price of Products must be greater than <b>500 SAR</b> and less than <b>10000 SAR</b>
                                </p>
                              </div>
                            </form>
                          </mat-step>
                            <mat-step [stepControl]="secondFormGroup">

                              <form [formGroup]="secondFormGroup" class="Payment-Details-form">
                                <ng-template matStepLabel>
                                    <img src="assets/images/Payment-Details.svg">
                                    <p class="font-size-13 mt-2">Payment Details</p>
                                </ng-template>
                                <div class="row mt-4">
                                <div class="col-lg-6">
                                    <label for="Installment" class="font-bold mt-2">Select Installment Peroid</label>
                                    <select formControlName="firstCtrl" matNativeControl required class="form-control custom-select form-control-lg mt-3" (change)="onChange($event.target.value)">
                                      <option value="" selected>Please Select Installment Period</option>
                                      <option value="3-Months">3 Months</option>
                                      <option value="6-Months">6 Months</option>
                                      <option *ngIf="showOptions" value="9-Months">9 Months</option>
                                      <option *ngIf="showOptions" value="12-Months">12 Months</option>
                                    </select>
                                    <svg class="arrow" style="top: 3.8em !important;" fill="none" height="14" viewBox="0 0 14 12" width="10" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-pkd-c13="" d="M1 1.2113L7 10.7606L13 1.2113" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
                                </div>

                                <div class="col-lg-6">
                                    <label for="amount" class="font-bold mt-2">Installment Amount per Month </label>
                                    <input placeholder="E.g. 1200 SAR" class="form-control form-control-lg" formControlName="secondCtrl" type="number"  [(ngModel)]="monthlyInstallment" required readonly style="height: 53px;">
                                </div>
                            </div>
                                <p class="my-5 grey-text-color">
                                    <!-- <span class="mr-1">
                                        <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.0899 15 14 12.0899 14 8.5C14 4.91015 11.0899 2 7.5 2C3.91015 2 1 4.91015 1 8.5C1 12.0899 3.91015 15 7.5 15Z" stroke="#607AE6"/>
                                            <path d="M7.5 11.1V8.5" stroke="#607AE6"/>
                                         </svg>
                                    </span> -->

                                    The information selected at the top is subject to change based on your credit record and your premitted amount of SIMAH. We will call you if any change is made within a period not exceeding one hour.
                                    </p>
                                <div>
                                <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                        <div class="form-group col-lg-4">
                                                <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious >Back</button>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  mat-button matStepperNext [disabled]="!disabledSubmitButtonSecond">Next</button>
                                        </div>
                                </div>
                                </div>
                              </form>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>
                                        <img src="assets/images/confirm.svg">
                                        <p class="font-size-13 mt-2">Confirm</p>
                                </ng-template>
                                <br/>


                                    <!-- <div class="col-lg-10 grey-text-color my-5">
                                        <input type="checkbox" id="box-2" (change)="changeCheck($event)">
                                        <label style="font-size: 16px;"for="box-2"> I agree on purchasing the request #1032 showing in the request screen.
                                            <br/>and with the price showing in the request screen.
                                            </label>
                                    </div> -->
                                    <label class="container col-lg-10 grey-text-color my-5">I agree on purchasing the request name : <b>{{requestName}} </b> showing in the request screen.
                                      and with the price showing in the request screen.
                                      <input type="checkbox" (change)="changeCheck($event)">
                                      <span class="checkmark"></span>
                                    </label>

                              <div>


                                    <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                            <div class="form-group col-lg-3">
                                                    <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious>Back</button>
                                            </div>

                                            <div class="form-group col-lg-3">
                                                <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  [disabled]="!disabledAgreement" mat-button matStepperNext>Agree & Prceed
                                                    </button>
                                            </div>
                                    </div>
                              </div>
                            </mat-step>
                            <mat-step [stepControl]="lastFormGroup">
                                <ng-template matStepLabel>
                                        <img src="assets/images/summary.svg">
                                        <p class="font-size-13 mt-2">Summary</p>
                                </ng-template>
                                <h3 class="mb-4 mt-5">Undertaking to Purchase</h3>
                                <form [formGroup]="lastFormGroup" class="Payment-Details-form">
                                        <mat-form-field>
                                            <label for="numberOfProduct" class="font-bold mt-2">Number of product</label>
                                            <input matInput class="form-control form-control-lg" formControlName="numberOfProduct" value="{{totalProducts}} Product" readonly>
                                        </mat-form-field>

                                        <mat-form-field>
                                            <label for="total" class="font-bold mt-2"> Total price of products:</label>
                                            <input matInput class="form-control form-control-lg" formControlName="TotalPrice" value="{{totalPrice}}" readonly>
                                        </mat-form-field>

                                        <mat-form-field>
                                            <label for="InstallmentPeriod" class="font-bold mt-2">Installment Period</label>
                                            <input matInput class="form-control form-control-lg" formControlName="InstallmentPeriod" value="{{installmentPeriod}}" readonly>
                                        </mat-form-field>

                                        <mat-form-field>
                                                <label for="InstallmentPerMonth" class="font-bold mt-2">Installment amount per month</label>
                                                <input matInput class="form-control form-control-lg" formControlName="InstallmentPerMonth" value="{{monthlyInstallment}}" readonly>
                                        </mat-form-field>

                                        <mat-form-field>
                                                <label for="FinalProduct" class="font-bold mt-2">Total Payable Product Price </label>
                                                <input matInput class="form-control form-control-lg" formControlName="FinalProduct" value="{{totalPriceWithProfit}}" readonly>
                                        </mat-form-field>
                                        <p class="my-5 grey-text-color">
                                            <span class="mr-1">
                                                <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.0899 15 14 12.0899 14 8.5C14 4.91015 11.0899 2 7.5 2C3.91015 2 1 4.91015 1 8.5C1 12.0899 3.91015 15 7.5 15Z" stroke="#607AE6"/>
                                                    <path d="M7.5 11.1V8.5" stroke="#607AE6"/>
                                                 </svg>
                                            </span>

                                            Selecting this option will require you to pay additional delivery fees of 30 SR.
                                        </p>
                                        <div>
                                        <div class="col-lg-12 mt-3 row justify-content-center align-items-center py-4 mt-5">
                                                <div class="form-group col-lg-3">
                                                        <button class="btn btn-info btn-lg btn-block btn-black mt-2" mat-button matStepperPrevious>Back</button>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <button class="btn btn-info btn-lg btn-block btn-black mt-2" (click)="saveAsDraft(content)">Update as Draft</button>
                                            </div>
                                                <div class="form-group col-lg-3">
                                                    <button class="btn btn-info btn-lg btn-block btn-purple mt-2"  mat-button matStepperNext (click)="saveRequest(content3)">Submit Request</button>

                                                </div>
                                                <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)"size = "medium"
                                                color = "white" type = "ball-clip-rotate" [fullScreen] = "true">
                                                <p style="color: white; margin-top:50px;font-size: 26px;" > Loading... </p>
                                                </ngx-spinner>
                                        </div>
                                        </div>
                                      </form>
                        </mat-step>
                          </mat-horizontal-stepper>
                          <ng-template #content3 let-modal>
                              <div class="modal-header">
                                  <h4 class="modal-title">Request Sent!</h4>
                                  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>
                                        Thank you !<br/>
                                         Your request has been Successfully sent, and will be verified if you are qualified for funding and will be responded to within 30 minutes.

                                  </p>
                                  <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" [routerLink]="[ '/requests-customer' ]" (click)="closeModal()">OK</button></div>

                                </div>
                              </ng-template>
                              <ng-template #content let-modal>
                                  <div class="modal-header">
                                      <h4 class="modal-title">Request Updated</h4>
                                      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                <div class="modal-body">
                                  <p>
                                      Thank you !<br/>
                                      Your request has been Updated as Draft.

                                  </p>
                                  <div class="d-flex justify-content-end"><button class="btn btn-info btn-lg btn-block btn-purple mt-2 col-lg-5" [routerLink]="[ '/requests-customer' ]" (click)="closeModal()">OK</button></div>

                                </div>
                              </ng-template>
            </div>
        </div>

        </div>
