.redColor{
  color: red;
  font-size: 10px;
  visibility: hidden;
}

.btn-color {
  background: rgb(10, 165, 10);
  box-sizing: border-box;
  color: white;
  padding: 0px 16px;
  line-height: 43px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
}

.btn-Red {
  background-color: rgb(219, 69, 69);
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 16px;
  font-size: 14px;
}
.padding {
  padding-top: 18px;
}
